.task-popup-list-list { margin: 0 }
.task-popup-list-list .task-popup-list-item { display:block; margin:0 0 6px 0; cursor:pointer; position:relative; text-decoration:none;}

.task-popup-list-item-left, .task-popup-list-item-icon,
.task-popup-list-item-text, .task-popup-list-item-right { display: inline-block; height: 19px; vertical-align:top; }
.task-popup-list-item-left, .task-popup-list-item-right { width:3px; }
.task-popup-list-item-icon { width:10px; margin: 0 0 0 6px; }
.task-popup-list-item-text { color:#494949; font:normal normal normal 12px/19px Arial, Helvetica, sans-serif;  margin:0 14px 0 5px;}
.task-popup-list-item-right { position:absolute; top:0; right:0;}

.task-popup-list-item-selected  { background: url(images/task-sprite_8.png?2) repeat-x 0 -443px !important;}
.task-popup-list-item-selected .task-popup-list-item-left { background: url(images/task-sprite_8.png?2) no-repeat 0 -424px !important;}
.task-popup-list-item-selected .task-popup-list-item-right { background: url(images/task-sprite_8.png?2) no-repeat -5px -424px !important; }

/* Priority Popup */
.task-priority-popup { width: 110px; }
.task-priority-popup-title { margin: 0 0 7px 0; padding: 0 0 0 4px; color:#7f7f7f;  white-space:nowrap; font:normal normal normal 12px/normal Arial, Helvetica, sans-serif; }
.task-popup-priority-icon-low { background: url(images/priority.gif) no-repeat 0 -14px; }
.task-popup-priority-icon-middle { background: url(images/priority.gif) no-repeat 0 -33px; }
.task-popup-priority-icon-high { background: url(images/priority.gif) no-repeat 0 -52px; }

/* Grade Popup */
.task-grade-popup { }
.task-grade-popup-title { margin: 0 0 7px 0; padding: 0 0 0 4px; color:#7f7f7f;  white-space:nowrap; font:normal normal normal 12px/normal Arial, Helvetica, sans-serif; }
.task-grade-popup .task-popup-list-item-icon { width:12px; }
.task-popup-grade-icon-none { background: url(images/task-sprite_8.png?2) no-repeat -4px -373px; }
.task-popup-grade-icon-neutral { background: url(images/task-sprite_8.png?2) no-repeat -4px -373px; }
.task-popup-grade-icon-minus { background: url(images/task-sprite_8.png?2) no-repeat -4px -339px; }
.task-popup-grade-icon-plus { background: url(images/task-sprite_8.png?2) no-repeat -4px -356px; }

.task-popup-list-report-form { margin:0; padding: 0;}
.task-popup-list-report { margin: 4px 7px 8px 8px;}
.task-popup-list-report label {display: block; cursor: default; }
.task-popup-list-report span {
	display:block;
	font:normal normal normal 12px/normal Arial, Helvetica, sans-serif;
	color: #666666;
	vertical-align:middle;
	padding-top: 2px;
	overflow: hidden;
}

.task-popup-list-report input { vertical-align:middle; float: left; }

