@keyframes vdpSlideFromLeft {
	from {
		opacity: 0;
		transform: translate3d(-0.5em, 0, 0);
	}
	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}

@keyframes vdpSlideFromRight {
	from {
		opacity: 0;
		transform: translate3d(0.5em, 0, 0);
	}
	to {
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}
}

@keyframes vdpFadeCalendar {
	from { opacity: 0; }
	to { opacity: 1; }
}

.vdp-toggle-calendar-enter-active.vdpPositionReady { transform-origin: top left; }

.vdp-toggle-calendar-leave-active { }

.vdp-toggle-calendar-enter-active.vdpPositionFixed { animation: vdpFadeCalendar .3s; }

.vdp-toggle-calendar-leave-active.vdpPositionFixed { animation: vdpFadeCalendar .3s reverse; }

.vdpComponent {
	position: relative;
	display: inline-block;
	font-size: 10px;
	color: #000;
	color: var(--b24-text-color);
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-family: var(--b24-font-family);
}

.vdpComponent input,
.vdpComponent select,
.vdpComponent button {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-family: var(--b24-font-family);
}

.vdpComponent.vdpWithInput > input { padding-right: 30px; }

.vdpClearInput {
	font-size: 1em;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	width: 3em;
}

.vdpClearInput:before {
	content: '?';
	width: 1.4em;
	height: 1.4em;
	line-height: 1.1em;
	box-sizing: border-box;
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -.7em 0 0 -.7em;
	color: rgba(0, 0, 0, .3);
	border: 1px solid rgba(0, 0, 0, .15);
	border-radius: 50%;
	background-color: #fff;
}

.vdpClearInput:hover:before { box-shadow: 0 0.2em 0.5em rgba(0, 0, 0, .15); }

.vdpOuterWrap.vdpFloating {
	position: absolute;
	padding: .5em 0;
	z-index: 220;
}

.vdpOuterWrap.vdpPositionFixed {
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	padding: 2em;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	background-color: rgba(0, 0, 0, .3);
}

.vdpFloating .vdpInnerWrap { max-width: 30em; }

.vdpPositionFixed .vdpInnerWrap {
	max-width: 30em;
	margin: 0 auto;
	border: 0;
}

.vdpFloating.vdpPositionTop { top: 100%; }

.vdpFloating.vdpPositionBottom { bottom: 100%; }

.vdpFloating.vdpPositionLeft { left: 0; }

.vdpFloating.vdpPositionRight { right: 0; }

.vdpPositionTop.vdpPositionLeft { transform-origin: top left; }

.vdpPositionTop.vdpPositionRight { transform-origin: top right; }

.vdpPositionBottom.vdpPositionLeft { transform-origin: bottom left; }

.vdpPositionBottom.vdpPositionRight { transform-origin: bottom right; }

.vdpInnerWrap {
	overflow: hidden;
	min-width: 28em;
	box-sizing: border-box;
	padding: 1em;
	background: #fff;
	background: var(--b24-background-color);
}

.vdpHeader {
	position: relative;
	padding: 0 1em 2.5em;
	margin: -1em -1em -2.5em;
	text-align: center;
	background: rgba(0, 0, 0, .08);
	background: var(--b24-field-background-color);
}

.vdpClearInput,
.vdpArrow,
.vdpPeriodControl > button {
	margin: 0;
	padding: 0;
	border: 0;
	cursor: pointer;
	background: none;
	color: var(--b24-text-color);
}

.vdpArrow::-moz-focus-inner,
.vdpClearInput::-moz-focus-inner,
.vdpPeriodControl > button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

.vdpArrow {
	font-size: 1em;
	width: 5em;
	text-indent: -999em;
	overflow: hidden;
	position: absolute;
	top: 0;
	bottom: 2.5em;
	text-align: left;
}

.vdpArrow:before {
	content: '';
	width: 2.2em;
	height: 2.2em;
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -1.1em 0 0 -1.1em;
	border-radius: 100%;
	transition: background-color 0.2s;
}

.vdpArrow:hover,
.vdpArrow:focus,
.vdpArrow:active { outline: 0; }

.vdpArrow:hover:before,
.vdpArrow:focus:before {
	background-color: #fff;
	background-color: var(--b24-field-focus-background-color);
}

.vdpArrow:active:before {
	background-color: #fff;
	background-color: var(--b24-field-focus-background-color);
}

.vdpArrowNext:before { margin-left: -1.4em; }

.vdpArrow:after {
	content: '';
	position: absolute;
	left: 50%;
	top: 50%;
	margin-top: -0.5em;
	width: 0;
	height: 0;
	border: .5em solid transparent;
}

.vdpArrowPrev { left: -.3em; }

.vdpArrowPrev:after {
	margin-left: -.8em;
	border-right-color: #000;
	border-right-color: var(--b24-text-color);
}

.vdpArrowNext { right: -0.6em; }

.vdpArrowNext:after {
	margin-left: -0.5em;
	border-left-color: #000;
	border-left-color: var(--b24-text-color);
}

.vdpPeriodControl {
	display: inline-block;
	position: relative;
}

.vdpPeriodControl > button {
	font-size: 1.5em;
	padding: 1em 0.4em;
	display: inline-block;
}

.vdpPeriodControl > select {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	cursor: pointer;
	opacity: 0;
	font-size: 1.6em;
}

.vdpTable {
	width: 100%;
	table-layout: fixed;
	position: relative;
	z-index: 5;
	border-collapse: collapse;
	font-size: inherit;
}

.vdpNextDirection { animation: vdpSlideFromRight 0.5s; }

.vdpPrevDirection { animation: vdpSlideFromLeft 0.5s; }

.vdpCell,
.vdpHeadCell {
	text-align: center;
	box-sizing: border-box;
}

.vdpCell { padding: 0.5em 0; }

.vdpHeadCell { padding: 0.3em 0.5em 1.8em; }

.vdpHeadCellContent {
	font-size: 1.3em;
	font-weight: normal;
	color: #000;
	color: var(--b24-text-color);
}

.vdpCellContent {
	font-size: 1.4em;
	display: block;
	margin: 0 auto;
	width: 1.857em;
	height: 1.857em;
	line-height: 1.857em;
	text-align: center;
	border-radius: 100%;
	transition: background 0.1s, color 0.1s;
	color: #000;
	color: var(--b24-text-color);
}

.vdpCell.outOfRange {
	color: #000;
	color: var(--b24-text-color);
	opacity: .5;
}

.vdpCell.today .vdpCellContent {
	color: #0f58d0;
	color: var(--b24-primary-color);
}

.vdpCell.selected .vdpCellContent {
	color: #fff;
	color: var(--b24-primary-text-color);
	background: #0f58d0;
	background: var(--b24-primary-color);
}

@media (hover: hover) {
	.vdpCell.selectable:hover .vdpCellContent {
		color: #fff;
		color: var(--b24-primary-text-color);
		background: #0f58d0;
		background: var(--b24-primary-color);
	}
}

.vdpCell.selectable { cursor: pointer; }

.vdpCell.disabled { opacity: 0.5; }

.vdpTimeControls {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 1.2em 2em;
	position: relative;
	margin: 1em -1em -1em;
	text-align: center;
	background: rgba(0, 0, 0, .08);
	background: var(--b24-field-background-color);
}

.vdpTimeUnit {
	display: inline-block;
	position: relative;
	vertical-align: middle;
}

.vdpTimeUnit > pre,
.vdpTimeUnit > input {
	font-size: 1.2em;
	line-height: 1.1;
	padding: 0.1em 0.1em;
	word-wrap: break-word;
	white-space: pre-wrap;
	resize: none;
	margin: 0;
	box-sizing: border-box;
	color: #000;
	color: var(--b24-text-color);
	border: 0;
	border-bottom: 1px solid transparent;
	text-align: center;
}

.vdpTimeUnit > pre {
	visibility: hidden;
	font-family: inherit;
}

.vdpTimeUnit > input {
	overflow: hidden;
	height: 100%;
	width: 37px;
	outline: none;
	margin-top: 2px;
	padding: 0;
	appearance: none;
	border-radius: 0;
	background: transparent;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.vdpTimeUnit > input:hover,
.vdpTimeUnit > input:focus { border-bottom-color: #7485c2; }

.vdpTimeUnit > input::-webkit-inner-spin-button,
.vdpTimeUnit > input::-webkit-outer-spin-button {
	margin: 0;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.vdpTimeSeparator {
	padding: 0 5px;
}
.vdpTimeSeparator,
.vdpTimeCaption {
	display: inline-block;
	vertical-align: middle;
	font-size: 1.0em;
	color: #000;
	color: var(--b24-text-color);
}

.vdpHoursInput {
	background: transparent;
	border: 1px solid grey;
	padding: 3px;
}
.vdpTimeCaption {
	margin-right: 1.5em;
}
.vdpTimeCloseBtn {
	margin-left: 1.5em;
	padding: 3px 6px;
	cursor: pointer;
	color: #fff;
	color: var(--b24-primary-text-color);
	background: #0f58d0;
	background: var(--b24-primary-color);
	border-radius: 4px;
}
.vdpTimeCloseBtn:hover {
	background: var(--b24-primary-hover-color);
}

@media screen and (min-width: 720px) {
	.vdpComponent {
		width: 320px;
		display: table-cell;
		font-size: .77em;
	}
}