.crm-entity-product-list-wrapper {
	margin-bottom: 10px;
}

.symbol_ruble {
	font-family: 'rubleBitrix', "Helvetica Neue", Helvetica, Arial, sans-serif
}

.crm-entity-product-set-item-container {
	padding-left: 66px;
}

.crm-entity-product-info-name {
	margin-bottom: 16px;
}

.crm-entity-product-inner-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.crm-entity-product-info-image-container {
	position: relative;
	max-width: 110px;
	width: 110px;
	height: 110px;
	border: 1px solid #e0e0e0;
}

.crm-entity-product-info-image {
	position: absolute;
	top: 50%;
	left: 50%;
	max-width: 100px;
	max-height: 100px;
	width: auto;
	height: auto;
	transform: translate(-50%, -50%);
}

.crm-entity-product-info-properties-container {
	padding-left: 26px;
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
}

/*region scu*/
.crm-entity-product-properties-scu {
	margin-bottom: 20px;
}

.crm-entity-product-info-properties-container div:last-child {
	margin-bottom: 5px;
}

.crm-entity-product-properties-scu-title {
	margin-bottom: 5px;
	padding-left: 3px;
}

.crm-entity-product-properties-scu-title-text {
	color: #525c69;
	font: 10px/11px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.crm-entity-product-properties-scu-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin: 0;
	padding: 0;
	list-style: none;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
}

.crm-entity-product-properties-scu-list-item {
	margin-right: 1px;
	margin-bottom: 1px;
	border: 1px solid transparent;
	border-radius: 3px;
	transition: 250ms all linear;
}

.crm-entity-product-properties-scu-list-item:hover,
.crm-entity-product-properties-scu-list-item.selected {
	border-color: #359fd0 !important;
	cursor: pointer;
}

.crm-entity-product-properties-scu-list-item-inner {
	display: block;
	width: 24px;
	height: 24px;
	border-radius: 2px;
}

/*color*/
.crm-entity-product-properties-scu-color .crm-entity-product-properties-scu-list-item {
	box-sizing: content-box;
	padding: 3px;
	width: 24px;
	height: 24px;
}

.crm-entity-product-properties-scu-color .crm-entity-product-properties-scu-list-item-inner {
	box-shadow: inset 0 0 0 1px rgba(151, 151, 151, .21);
}

/*image*/
.crm-entity-product-properties-scu-image .crm-entity-product-properties-scu-list-item {
	box-sizing: content-box;
	padding: 3px;
	width: 24px;
	height: 24px;
}

.crm-entity-product-properties-scu-image .crm-entity-product-properties-scu-list-item-inner {
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	box-shadow: inset 0 0 0 1px rgba(0, 0, 0, .1);
}

/*text*/
.crm-entity-product-properties-scu-text .crm-entity-product-properties-scu-list-item {
	box-sizing: content-box;
	margin-right: 6px;
	margin-bottom: 4px;
	padding: 1px 5px;
	width: auto;
	height: 20px;
	border-color: #c1cfda;
	border-radius: 2px;
}

.crm-entity-product-properties-scu-text .crm-entity-product-properties-scu-list-item-inner {
	display: block;
	min-width: 20px;
	width: auto;
	height: 20px;
	color: #000;
	vertical-align: middle;
	text-align: center;
	font: bold 11px/20px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/**/

/*endregion*/

/*region price*/
.crm-entity-product-info-price {
	position: relative;
}

.crm-entity-product-info-price-current {
	min-height: 39px;
	color: #333;
	white-space: nowrap;
	background: #fff;
	font: 400 14px/16px "Helvetica Neue", Helvetica, Arial, sans-serif;
	display: flex;
	align-items: center;
	width: 100%;
	box-sizing: border-box;
	border: 1px solid #c6cdd3;
	border-radius: 3px;
	padding: 0 8px;
}

.crm-entity-product-control-amount-inner {
	border: 1px solid #c6cdd3;
	border-radius: 3px;
	display: flex;
	align-items: center;
	background: #fff;
	padding: 0 1px 0 10px;
	box-sizing: border-box;
	height: 39px;
}

.crm-entity-product-control-amount-inner .crm-entity-product-control-amount-field {
	text-align: left;
	width: 50px;
	padding-left: 0;
	height: 37px;
	margin-right: 10px;
}

.crm-entity-product-control-amount-measure {
	color: #9b9b9b;
	margin-bottom: 2px;
}

.crm-entity-product-info-price-currency {
	width: 25px;
	color: #80868e;
	font-size: 13px;
	display: flex;
	align-items: center;
	background: none;
	padding: 0;
	white-space: nowrap;
	overflow: hidden;
	max-width: 100%;
	border-bottom: 1px dashed #cbced1;
	transition: border-color .2s linear;
	margin: -1px 7px 0 0;
	line-height: 19px;
}

.crm-entity-product-info-price-old {
	position: absolute;
	top: 44px;
	color: #9b9b9b;
	text-decoration: line-through;
	white-space: nowrap;
	font: 13px/14px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.crm-entity-product-info-price-desc {
	color: rgba(83, 92, 105, .62);
	font: 11px/13px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/*endregion*/

/*region amount*/

.crm-entity-product-control-amount-field {
	position: relative;
	padding: 3px 8px 5px;
	box-sizing: border-box;
	width: 115px;
	height: 39px;
	border: none;
	border-radius: 3px;
	font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-align: right;
	color: #333;
}

.crm-entity-product-control-tax-sum-field {
	position: relative;
	padding: 12px 0;
	font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-align: right;
	color: #333;
}

/*endregion*/

/*region quantity field*/

.crm-entity-product-control-amount-desc {
	color: rgba(83, 92, 105, 0.62);
	font: 11px/16px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.crm-entity-product-control-arrows {
	width: 20px;
	display: flex;
	flex-direction: column;
	margin-left: auto;
	margin-right: 2px;
}

.crm-entity-product-control-arrow-top, .crm-entity-product-control-arrow-bottom {
	cursor: pointer;
	width: 20px;
	height: 17px;
	background-repeat: no-repeat;
	background-position: center;
	opacity: .4;
	transition: opacity .2s linear;
}

.crm-entity-product-control-arrow-top {
	transform: rotate(180deg);
	background-image: url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2212%22%20height%3D%228%22%3E%3Cpath%20fill%3D%22%23535c68%22%20fill-rule%3D%22evenodd%22%20d%3D%22M1.758.427L6%204.669%2010.243.427l1.414%201.414L6%207.498.343%201.84%201.758.427z%22/%3E%3C/svg%3E);
}

.crm-entity-product-control-arrow-bottom {
	background-image: url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2212%22%20height%3D%228%22%3E%3Cpath%20fill%3D%22%23535c68%22%20fill-rule%3D%22evenodd%22%20d%3D%22M1.758.427L6%204.669%2010.243.427l1.414%201.414L6%207.498.343%201.84%201.758.427z%22/%3E%3C/svg%3E);
}

.crm-entity-product-control-arrow-top:hover, .crm-entity-product-control-arrow-bottom:hover {
	opacity: .8;
}

/*endregion*/

/*region text field*/

.crm-entity-product-control-text-field {
	position: relative;
	margin-bottom: 2px;
	padding: 1px 10px;
	width: 300px;
	height: 39px;
	border: 1px solid #c6cdd3;
	border-radius: 3px;
	text-align: left;
	font: 15px "Helvetica Neue", Helvetica, Arial, sans-serif;
	box-sizing: border-box;
	color: #333;
}

/*endregion*/

/*region select field*/
.crm-entity-product-control-select {
}

.crm-entity-product-control-select-field {
	position: relative;
	margin-bottom: 2px;
	padding: 1px 5px 1px 8px;
	width: 115px;
	border: 1px solid #c6cdd3;
	text-align: left;
	font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #333;
	display: block;
	box-sizing: border-box;
	height: 39px;
	border-radius: 2px;
	appearance: none;
	-webkit-appearance: none;
	background: #fff url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2212%22%20height%3D%228%22%3E%3Cpath%20fill%3D%22%23bbbfc4%22%20fill-rule%3D%22evenodd%22%20d%3D%22M1.758.427L6%204.669%2010.243.427l1.414%201.414L6%207.498.343%201.84%201.758.427z%22/%3E%3C/svg%3E) no-repeat right 13px center;
}

.crm-entity-product-control-select-field > option {
	padding: 3px 5px;
}

.crm-entity-product-control-select-field:focus,
.crm-entity-product-control-select-field:active {
	outline: none;
	border-color: #aeb2b7;
}

.crm-entity-product-control-checkbox {
	height: 39px;
	display: flex;
	align-items: center;
}
/*endregion*/

/*region additional*/

.crm-entity-product-control-additional-nds {
	position: relative;
	display: inline-block;
	padding-right: 15px;
	white-space: nowrap;
	cursor: pointer;
}

.crm-entity-product-control-additional-nds span {
	border-bottom: 1px dashed;
	color: #196fba;
	font: 13px/18px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.crm-entity-product-control-additional-nds:hover span {
	border-bottom-style: solid;
}

.crm-entity-product-control-additional-nds:after {
	position: absolute;
	top: 50%;
	right: 0;
	display: block;
	margin-top: -3px;
	border: 3px solid transparent;
	border-top-color: #a9adb4;
	content: '';
}

/*endregion*/

/*region discounts*/
.crm-entity-product-control-discounts {
	border-top: 1px solid #eef2f4;
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1
}

.crm-entity-product-control-discounts-title {
	margin-bottom: 6px;
	color: #535c69;
	text-transform: uppercase;
	font: 11px/12px 'OpenSans-Semibold', "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.crm-entity-product-control-discounts-list {
	padding-top: 15px;
}

.crm-entity-product-control-discounts-list-item {
	margin-bottom: 10px;
	padding-top: 3px;
}

.crm-entity-product-control-discounts-list-item-label {
	position: relative;
	display: block;
	padding-bottom: 3px;
	padding-left: 25px;
}

.crm-entity-product-control-discounts-list-item-input {
	position: absolute;
	top: -1px;
	left: 0;
	display: block;
}

.crm-entity-product-control-discounts-list-item-label-text {
	display: inline-block;
	font-size: 14px;
}

.crm-entity-product-control-discounts-list-item-desc {
	padding-left: 25px;
	color: #76888a;
	font: 11px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.crm-entity-product-control-discounts-list-add-item-btn {
	border-bottom: 1px dashed;
	color: rgba(83, 92, 105, 0.82);
	text-decoration: none;
	font: 12px/16px "Helvetica Neue", Helvetica, Arial, sans-serif;
	transition: 250ms linear all;
}

.crm-entity-product-control-discounts-list-add-item-btn:hover {
	border-bottom: 1px solid;
	color: #333;
	text-decoration: none !important;
}

.crm-entity-product-control-discounts-list-add-item-container {
	position: relative;
	padding: 5px 13px 13px;
	max-width: 450px;
	border-radius: 3px;
	background-color: #f4f4f5;
}

.crm-entity-product-control-discounts-list-add-item-close {
	position: absolute;
	top: -3px;
	right: -3px;
	width: 16px;
	height: 16px;
	border-radius: 50%;
	background-color: rgba(130, 139, 149, 0.31);
	transition: 220ms linear all;
}

.crm-entity-product-control-discounts-list-add-item-close:hover {
	background-color: rgba(130, 139, 149, 1);
	cursor: pointer;
}

.crm-entity-product-control-discounts-list-add-item-close:after,
.crm-entity-product-control-discounts-list-add-item-close:before {
	position: absolute;
	top: 50%;
	left: 50%;
	display: block;
	background-color: #fff;
	content: '';
	transform: translate(-50%, -50%) rotate(45deg);
}

.crm-entity-product-control-discounts-list-add-item-close:after {
	width: 2px;
	height: 9px;
}

.crm-entity-product-control-discounts-list-add-item-close:before {
	width: 9px;
	height: 2px;
}

.crm-entity-product-control-discounts-list-add-item-title {
	color: #76888a;
	font: 11px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.crm-entity-product-control-discounts-list-add-item-inner {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.crm-entity-product-control-discounts-list-add-item-field {
	margin-right: 6px;
	max-width: 100px;
	height: 32px;
	color: #000;
	text-align: right;
	font-size: 15px;
}

.crm-entity-product-control-discounts-list-add-item-type {
	margin-right: 26px;
	border-bottom: 1px dashed;
	color: #196fba;
	font: 13px "Helvetica Neue", Helvetica, Arial, sans-serif;
	cursor: pointer;
}

.crm-entity-product-control-discounts-list-add-item-text {
	margin-right: 6px;
	color: #333;
	font: 13px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/*endregion*/

/*region total*/
.crm-entity-total-wrapper {
	padding: 20px;
	background-color: #fff;
}

.crm-entity-total-discounts {
	margin-bottom: 20px;
	padding-bottom: 7px;
	border-bottom: 1px solid #eef2f4;
}

/*endregion*/

.crm-entity-total-container-row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	align-content: flex-start;
}

.crm-entity-total-container-column {

	flex: 1;
}

.crm-entity-total-box {
	margin-top: 17px;
	padding: 24px 25px;
	border-radius: 5px;
	background-color: #f0f2f4;
}

.crm-entity-total-box-row {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-bottom: 15px;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: end;
	-ms-flex-align: end;
	align-items: flex-end;
}

.crm-entity-total-box .crm-entity-total-box-row:last-child {
	margin-bottom: 0;
}

.crm-entity-total-box-row-column {
	color: #333;
	font: 13px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.crm-entity-total-box-row .crm-entity-total-box-row-column:first-child {
	padding-right: 10px;
}

.crm-entity-total-box-row .crm-entity-total-box-row-column:last-child {
	padding-left: 10px;
	white-space: nowrap;
}

.crm-entity-total-box-row-final {
	margin: 17px -12px 0;
	padding: 14px 12px;
	border-radius: 5px;
	background-color: #e4e8eb;
}

.crm-entity-total-box-row-final .crm-entity-total-box-row-column {
	font-weight: bold;
}

/*region promotion*/
.crm-entity-product-control-promotion-title {
	margin-bottom: 6px;
	color: #535c69;
	text-transform: uppercase;
	font: 11px/12px 'OpenSans-Semibold', "Helvetica Neue", Arial, Helvetica, sans-serif;
}

.crm-entity-promotional-code-box {
	padding-right: 10px;
}

.crm-entity-product-control-discounts-wrap {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
}

.crm-entity-product-control-discounts-field-container {
	padding-right: 10px;
	max-width: 400px;
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
}

.crm-entity-product-control-discounts-field {
	box-sizing: border-box;
	width: 100%;
	height: 39px;
}

.crm-entity-product-control-discounts-field-description {
	padding-top: 10px;
	color: #76888a;
	font: 12px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.crm-entity-product-refresh-stub {
	position: fixed;
	z-index: 1;
	opacity: 1;
	transition: 100ms all ease-out;
}

.crm-entity-product-container .main-grid-editor-text,
.crm-entity-product-container .main-grid-editor-textarea,
.crm-entity-product-list-wrapper .main-grid-editor-text,
.crm-entity-product-list-wrapper .main-grid-editor-textarea {
	margin-left: 0;
	height: 39px;
}

.crm-entity-product-list-wrapper .main-grid-editor-money-price,
.crm-entity-product-list-wrapper .main-grid-editor-money-price {
	height: 37px;
}

.crm-entity-product-list-wrapper .catalog-product-field-inner {
	width: calc(100% - 30px);
}

/*endregion*/

.crm-entity-product-list-add-block {
	background: #fff;
	margin-bottom: 4px;
	height: 57px;
	padding: 0 9px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.crm-entity-product-list-add-block .ui-btn + .ui-btn {
	margin-left: 6px;
}

.crm-entity-product-list-add-block-bottom {
	margin-top: 4px;
}

.crm-entity-product-list-add-block-hidden {
	display: none;
}
.crm-entity-product-list-add-block-hidden + .main-grid .main-grid-more {
	border-top: none;
}

.main-grid-row-checked .main-grid-cell, .main-grid-row-checked .main-grid-cell {
	background-color: #FFFEFC !important;
}

.main-grid-editor.main-grid-editor-money:hover,
select.crm-entity-product-control-select-field:hover {
	border-color: var(--ui-field-color-primary);
}

.main-grid-delete-button {
	position: relative;
	top: 7px;
	display: inline-block;
	width: 16px;
	height: 16px;
	background: url(/bitrix/js/ui/buttons/icons/images/ui-remove-black.svg) no-repeat center center;
	opacity: .3;
	cursor: pointer;
	transition: opacity 200ms ease;
}

.main-grid-delete-button:hover { opacity: .7; }

.main-grid-cell-drag {
	padding-top: 6px !important;
}

.main-grid-cell-head[data-name="MAIN_INFO"] .main-grid-head-title {
	padding-left: 46px;
}

.main-grid-cell-head[data-name="MAIN_INFO"] {
	min-width: 420px;
}

.catalog-product-edit {
	width: 100%;
	max-width: 800px;
}

.main-grid-row-number {
	vertical-align: top;
	padding-top: 12px;
	padding-right: 10px;
	width: 20px;
	text-align: right;
}

.main-grid-editor.main-grid-editor-custom[data-name="MAIN_INFO"] {
	display: flex;
}