.grid-group{
    text-align: left;
    background-color: #efefef;
    margin: -16px -50px;
    padding: 0 29px;
    display: block;
    overflow: hidden;
    height: 46px;
    background: #f1f5f7;
    font-family: 'OpenSans-Semibold',"Helvetica Neue",Arial,Helvetica,sans-serif;
    line-height: 46px;
}
.main-grid-row-custom .main-grid-minus-button + .main-grid-cell-content .grid-group, .main-grid-row-custom .main-grid-plus-button + .main-grid-cell-content .grid-group {

}

.tasks-grid-wrapper, .tasks-grid-wrapper:hover {
    display: block;
    overflow: hidden;
    height: 46px;
    margin: -16px -32px;
    padding: 0 10px;
    background: #f1f5f7;
    font-family: 'OpenSans-Semibold',"Helvetica Neue",Arial,Helvetica,sans-serif;
    line-height: 46px;
    text-align: left;
}

/* ------------ */

.askarasoft-sub-menu{
    list-style: none;
}
.askarasoft-sub-menu-list{
    float: left; padding: 10px;
}
.askarasoft-sub-menu-title{

}
.askarasoft-sub-menu-title-active{
    border-bottom: 1px solid;
}
.askarasoft-sub-menu-list a, .askarasoft-sub-menu-list a:hover, .askarasoft-sub-menu-list a:visited, .askarasoft-sub-menu-list a:active {
    color: inherit;
    text-decoration: none;
}