/*todo remove later*/
#workarea-content {
	display: block;
}



.tasks-scrum-wrapper .workarea-content-paddings { padding-right: 15px !important; }

.tasks-scrum-wrapper .pagetitle-below { margin-right: 15px; }

.tasks-scrum-side-panel-padding {
	padding: 0 35px 0 20px !important;
}

.tasks-scrum-container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.tasks-scrum-action-epic {
	position: relative;
	margin-left: 12px;
}

.tasks-scrum-action-epic::after {
	display: block;
	content: '+';
	position: absolute;
	left: -12px;
	top: 50%;
	transform: translateY(-50%);
}

.tasks-scrum-group-actions-active {
	position: relative;
}

.tasks-scrum-sprint-completed-loader {
	overflow: hidden;
}

.tasks-scrum-sprints {
	-webkit-box-flex: 1;
	-ms-flex: 1;
	flex: 1;
	box-sizing: border-box;
	min-width: calc(50% - 8px);
	max-width: calc(50% - 8px);
	/*padding: 0 0 0 8px;*/
}

.tasks-scrum-sprint-create {
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin-bottom: 10px;
	width: 100%;
}

.tasks-scrum-sprint-create::after {
	position: static;
	top: auto;
	left: auto;
	-webkit-box-ordinal-group: 2;
	-ms-flex-order: 1;
	order: 1;
	-webkit-transform: translateY(-1px);
	-ms-transform: translateY(-1px);
	transform: translateY(-1px);
}

.tasks-scrum-sprint-create span {
	-webkit-box-ordinal-group: 3;
	-ms-flex-order: 2;
	order: 2;
}

.tasks-scrum-dragndrop {
	position: absolute;
	left: 2px;
	top: 12px;
	width: 6px;
	height: 14px;
	background: no-repeat center url(images/dragndrop.svg);
	opacity: 0;
	transition: 170ms linear all;
	cursor: -webkit-grab;
	cursor: grab;
	z-index: 10;
	padding: 4px;
}

.tasks-scrum-sprint-stats {
	display: inline-flex;
	padding: 8px 6px;
	color: #fff;
	text-decoration: none;
	font-size: 13px;
	font-weight: bold;
	margin-left: auto;
}

.tasks-scrum-entity-items-faded {
	opacity: 0.5;
	pointer-events: none;
}

.tasks-scrum-project-side-panel {
	padding: 0 20px;
	color: #333;
	font-family: "OpenSans-Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
	margin-bottom: 20px;
}

.tasks-scrum-project-side-panel-header {
	padding-left: 5px;
	margin: 20px 0 23px;
}

.tasks-scrum-project-side-panel-header-title {
	font: 24px/30px "OpenSans-Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.tasks-scrum-project-side-panel-chart {
	padding: 15px 0 0 0;
	background: white;
	height: 600px;
}

.tasks-scrum-project-dod-options {
	margin-top: 15px;
}

.tasks-scrum-entity-items-loader {
	overflow: hidden;
}
