.feed-com-block-cover {
	margin-bottom: 10px;
	margin-top: 1px;
}

.feed-com-block-cover:first-child {
	margin-top: 0;
}

.feed-com-block-outer .feed-post-more-link {
	border-bottom: none !important;
	display: inline-block;
	position: relative;
	color: #a8aeb5;
	font-weight: normal;
	margin: 1px 0 0 0;
	padding-right: 0;
}

.feed-com-block-outer .feed-post-more-link-N-N-N-N { display: none; }

.feed-time.feed-com-time {
	margin-right: 10px;
	/*color: rgba(130,139,149,.7);*/
	color: #bcc2c7;
	font-size: 11px;
	display: inline-block;
	transition: 250ms linear all;
}

a.feed-time.feed-com-time:hover {
	color: #525c69;
	text-decoration: none;
}

.feed-com-block .feed-post-text-more {
	background-image: -webkit-linear-gradient(top, rgba(238, 242, 244, 0.3), rgba(238, 242, 244, 1) 23px);
	background-image: linear-gradient(to bottom, rgba(238, 242, 244, 0.3), rgba(238, 242, 244, 1) 23px);
	top: 176px;
	left: -15px;
}

.feed-com-block-new .feed-post-text-more {
	background-image: -webkit-linear-gradient(top, rgba(255, 252, 238, 0.3), rgba(255, 252, 238, 1) 23px, rgba(251, 248, 228, 1) 24px);
	background-image: linear-gradient(to bottom, rgba(255, 252, 238, 0.3), rgba(255, 252, 238, 1) 23px, rgba(251, 248, 228, 1) 24px);
}

.feed-com-block-new.feed-com-block-uf .feed-post-text-more {
	background-image: -webkit-linear-gradient(top, rgba(255, 252, 238, 0.3), rgba(255, 252, 238, 1) 23px, rgba(255, 252, 238, 1) 24px);
	background-image: linear-gradient(to bottom, rgba(255, 252, 238, 0.3), rgba(255, 252, 238, 1) 23px, rgba(255, 252, 238, 1) 24px);
}

.feed-com-block .feed-post-text-more-but {
	background: none;
	display: block;
	border-bottom: 1px solid #e9edf0;
	height: 22px;
	margin: 0 0 0 86px;
	position: relative;
	-webkit-transition: border-color 0.2s linear;
	transition: border-color 0.2s linear;
}

.feed-com-block .feed-post-text-more:hover .feed-post-text-more-but {
	border-color: #ced2d6;
}

.feed-com-block .feed-post-text-more-but:before {
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20width%3D%2212%22%20height%3D%228%22%3E%3Cpath%20fill%3D%22%23535C69%22%20fill-rule%3D%22evenodd%22%20d%3D%22M6%204.829L10.243.586%2011.657%202%207.414%206.243%206%207.657.343%202%201.757.586%206%204.829z%22%20opacity%3D%22.789%22/%3E%3C/svg%3E');
	background-repeat: no-repeat;
	background-position: 25px center;
	border: 1px solid #e6eaec;
	border-bottom: none;
	bottom: -1px;
	content: '';
	height: 21px;
	left: 50%;
	margin-left: -32px;
	position: absolute;
	width: 63px;

	-webkit-transition: border-color 0.2s linear;
	transition: border-color 0.2s linear;
}

.feed-com-main-content .feed-post-text-more {
	top: 171px;
}

.feed-com-main-content .feed-post-text-more-but:before {
	bottom: -1.5px;
}

.feed-com-main-content .feed-post-text-more-but {
	border-bottom: 1px solid rgba(82, 92, 105, .14);
}

.feed-com-main-content .feed-post-text-more:hover .feed-post-text-more-but {
	border-color: rgba(82, 92, 105, .6);
}

.feed-com-main-content .feed-post-text-more:hover .feed-post-text-more-but:before {
	border-color: rgba(82, 92, 105, .6);
	border-bottom: 1px solid #f1f4f6;
}

.feed-com-block .feed-post-text-more-but {
	margin-left: 0;
}

.feed-com-block .feed-post-text-more-but:before {
	background-color: #f5f7f8;
}

.feed-com-main-content .feed-post-text-more-but:before {
	border: 1px solid rgba(82, 92, 105, .14);
	border-bottom: 1px solid #edf1f3;
	background-color: #edf1f3;
}

.feed-com-block-pointer {
	-webkit-animation: feed-com-block-point-message 2s linear 1;
	animation: feed-com-block-point-message 2s linear 1;
}

.feed-com-block.feed-com-block-urlpreview .feed-com-text-inner {
	padding-bottom: 5px;
}

@-webkit-keyframes feed-com-block-point-message {
	0%, 100% { background-color: #edf1f3; }
	5%, 90% { background-color: #eff2f1; }
	10%, 85% { background-color: #f4f4ec; }
	15%, 80% { background-color: #f8f6e8; }
	20% { background-color: #fbf8e4; }
}

@keyframes feed-com-block-point-message {
	0%, 100% { background-color: #edf1f3; }
	5%, 90% { background-color: #eff2f1; }
	10%, 85% { background-color: #f4f4ec; }
	15%, 80% { background-color: #f8f6e8; }
	20% { background-color: #fbf8e4; }
}

.feed-com-main-content.feed-com-block-pointer-to-new {
	background-color: #fbf8e4;
	-webkit-animation: feed-com-block-point-new-message 1s linear 1;
	animation: feed-com-block-point-new-message 1s linear 1;
}

@-webkit-keyframes feed-com-block-point-new-message {
	20% { background-color: #fbf8e4; }
	100% { background-color: #fbf8e4; }
}

@keyframes feed-com-block-point-new-message {
	20% { background-color: #fbf8e4; }
	100% { background-color: #fbf8e4; }
}

.feed-com-main-content.feed-com-block-read {
	background-color: #edf1f3;
	-webkit-transition: background-color 1s linear 1s;
	transition: background-color 1s linear 1s;
}

.feed-com-block.feed-com-block-hidden .feed-com-main-content {
	background-color: #fee7d9;
}

.feed-com-block-new .feed-post-text-more-but:before {
	background-color: #fbf8e4;
}

.feed-com-corner {
	display: none;
	position: absolute;
	left: 26px;
	top: -10px;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 10px 10px 10px;
	border-color: transparent transparent #f5f7f8 transparent;
}

.feed-post-block-yellow-corner.feed-com-corner {
	border-color: transparent transparent #fbf8e4 transparent;
}

.feed-post-block-corner-fade.feed-post-block-yellow-corner.feed-com-corner {
	-webkit-animation: feed-com-corner-fade 1s linear forwards;
	animation: feed-com-corner-fade 1s linear forwards;
}

@-webkit-keyframes feed-com-corner-fade {
	20% { border-color: transparent transparent #fbf8e4 transparent; }
	100% { border-color: transparent transparent #f5f7f8 transparent; }
}

@keyframes feed-com-corner-fade {
	20% { border-color: transparent transparent #fbf8e4 transparent; }
	100% { border-color: transparent transparent #f5f7f8 transparent; }
}

.feed-com-header {
	padding-left: 17px;
	margin: 0 0 14px 0;
	display: flex;
	align-items: baseline;
	justify-content: flex-start;
}

.feed-com-header .feed-com-all {
	min-height: 14px;
}

.feed-com-loader-informer {
	display: inline-flex;
	align-items: stretch;
	font-size: 13px;
	color: #a8adb4;
	position: relative;
	/*bottom: -1px;*/
	padding-left: 9px;
	min-height: 14px;
}

.feed-com-loader-informer:before {
	content: '';
	position: relative;
	border-radius: 6px;
	transform-origin: center;
	width: 12px;
	height: 12px;
	bottom: -1px;
	box-sizing: border-box;
	border: 2px solid #cbced2;
	border-right-color: transparent;
	animation: normal infinite feedComLoader 1s;
	margin-right: 4px;
}

@keyframes feedComLoader {
	from { transform: rotate(0deg); }
	to { transform: rotate(360deg); }
}

.feed-com-block {
	/*display: inline-block;*/
	display: flex;
	/*background-color: #EDF1F3;*/
	position: relative;
	margin: 0 0 0 61px;
	min-height: 40px;
	border-radius: 29px;
	/*overflow: hidden;*/
	max-width: calc(100% - 60px);
}

.feed-com-main-content {
	position: relative;
	padding: 7px 21px 7px 15px;
	max-width: 820px;
	border-radius: 23px;
	background-color: #edf1f3;
	box-sizing: border-box;
	overflow: hidden;
}

.feed-com-block-new {
	background-color: #fbf8e4;
}

.feed-com-block-uf.feed-com-block {
	/*	padding-bottom: 7px;*/
}

.feed-com-avatar {
	position: absolute;
	top: 2px;
	left: -44px;
	overflow: hidden;
	width: 37px;
	height: 37px;
	border-radius: 50%;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20viewBox%3D%220%200%2089%2089%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%3E%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Ccircle%20fill%3D%22%23535C69%22%20cx%3D%2244.5%22%20cy%3D%2244.5%22%20r%3D%2244.5%22/%3E%3Cpath%20d%3D%22M68.18%2071.062c0-3.217-3.61-16.826-3.61-16.826%200-1.99-2.6-4.26-7.72-5.585a17.363%2017.363%200%200%201-4.887-2.223c-.33-.188-.28-1.925-.28-1.925l-1.648-.25c0-.142-.14-2.225-.14-2.225%201.972-.663%201.77-4.574%201.77-4.574%201.252.695%202.068-2.4%202.068-2.4%201.482-4.3-.738-4.04-.738-4.04a27.076%2027.076%200%200%200%200-7.918c-.987-8.708-15.847-6.344-14.085-3.5-4.343-.8-3.352%209.082-3.352%209.082l.942%202.56c-1.85%201.2-.564%202.65-.5%204.32.09%202.466%201.6%201.955%201.6%201.955.093%204.07%202.1%204.6%202.1%204.6.377%202.556.142%202.12.142%202.12l-1.786.217a7.147%207.147%200%200%201-.14%201.732c-2.1.936-2.553%201.485-4.64%202.4-4.032%201.767-8.414%204.065-9.193%207.16-.78%203.093-3.095%2015.32-3.095%2015.32H68.18z%22%20fill%3D%22%23FFF%22/%3E%3C/g%3E%3C/svg%3E');
	background-repeat: no-repeat;
	/*background: url("images/sprite.png?v=1") no-repeat -52px 4px #535c6a;*/
}

.feed-com-avatar img {
	position: absolute;
	top: 0;
	left: 0;
	width: 37px;
	height: 37px;
	background-color: #fff;
}

.bx-opera .feed-com-avatar img {
	border-radius: 50%;
}

.feed-com-user-box {
	margin-bottom: 1px;
	line-height: 16px;
}

.feed-com-name {
	border-bottom: 1px solid transparent;
	font-size: 13px;
	font-weight: bold;
	text-decoration: none;
	display: inline-block;
	margin-right: 7px;
}

.feed-com-name:hover {
	border-bottom: 1px solid /*#525C69*/;
	/*	color: #525C69;*/
	text-decoration: none;
}

.feed-com-text {
	clear: both;
	font-size: 13px;
	line-height: 18px;
	margin-right: -21px;
	overflow: hidden;
	/*padding-top: 2px;*/
	position: relative;
	color: #333;
}

.feed-com-block-uf .feed-com-text {
	margin-bottom: 7px;
}

.feed-com-text-inner {
	max-height: 200px;
	/*max-width: 820px;*/
	overflow: hidden;
	padding-right: 16px;
}

.feed-com-text-inner-expanded {
	max-height: none;
}

.feed-com-text-inner-expanded + .feed-post-text-more {
	display: none;
}

.feed-com-text-inner-inner {
	/*word-break: break-word;*/
	overflow: auto;
}

.feed-com-text-inner-inner .bx-smile {
	vertical-align: text-bottom;
}

.feed-com-text-inner-inner img {
	max-width: 100%;
	height: auto;
}

.feed-com-text table.forum-code pre,
.feed-com-text table.code pre,
.feed-com-text table.blogcode pre {
	max-width: 716px;
	overflow: auto;
}

.feed-com-informers-bottom {
	display: block;
	margin-left: 52px;
	padding: 5px 0 0 19px;
	/*display: inline-block;*/
	color: rgba(130, 139, 149, .7);
	font-size: 12px;
	line-height: 14px;
}

.feed-com-informers-bottom a {
	font-size: 12px;
	color: #a8aeb5;
	transition: color .3s;
}

.feed-com-informers-bottom .bx-you-like-button a,
.feed-com-informers-bottom .bx-you-like-button a:hover {
	color: #0b66c3;
}

.feed-com-informers-bottom a:hover {
	border: none;
	color: #3a3d42;
	text-decoration: none;
}

.feed-com-informers-bottom .bx-ilike-text {
	color: #a8aeb5;
	transition: color .3s;
}

.feed-new-like:hover .bx-ilike-text {
	border: none;
	color: #3a3d42;
	text-decoration: none;
}
.feed-new-like:hover .bx-ilike-text.bx-ilike-text-unavailable {
	color: #828B95;
}

.feed-com-informers-bottom .ilike-light {
	padding-right: 10px;
}

.feed-com-informers-bottom .ilike-light .bx-ilike-right {
	height: 14px !important;
	padding: 0 1px 0 14px !important;
	font-size: 12px;
	opacity: .8;
	transition: opacity .3s;
}

.feed-com-informers-bottom .ilike-light .bx-ilike-button-comment .bx-ilike-right {
	font-size: 11px;
	opacity: .8;
}

.feed-com-informers-bottom .ilike-light .bx-ilike-button-comment.bx-ilike-button:hover .bx-ilike-right,
.feed-com-informers-bottom .ilike-light .bx-ilike-button-comment.bx-ilike-button .bx-you-like .bx-ilike-right {
	opacity: 1;
}

.feed-com-informers-bottom .feed-post-more-link {
	line-height: 12px;
	font-size: 12px;
}

.ilike-light .bx-ilike-button {
	-moz-user-select: none;
	color: #929292;
	display: inline-block;
	height: 14px !important;
	position: relative;
}

.ilike-light .bx-ilike-right-wrap {
	height: auto !important;
}

.feed-com-informers-bottom .feed-inform-ilike-icon {
	margin-left: 6px;
}

.bx-ilike-button.bx-ilike-button-comment .bx-ilike-text {
	margin: 0 3px 0 0;
}

.feed-com-informers-bottom .feed-com-reply {
	color: #a8aeb5;
	margin: 0 10px 0 0;
	vertical-align: top;
	line-height: 12px;
}

.feed-com-informers-bottom .feed-inform-ilike.feed-new-like {
	margin-right: 10px;
}

/* date, rating, reply, more */

.feed-com-add-block {
	/*position: relative;*/
	padding: 0 0 15px 0;
	border-radius: 22px;
}

.feed-com-add-block .feed-add-post-form-but-wrap {
	border: none;
	padding-bottom: 0;
	background-color: transparent !important;
}

.feed-com-add-block .feed-add-post-buttons {
	position: absolute;
	bottom: -47px;
	padding-left: 10px;
	left: 0;
	right: 0;
}

.feed-com-add-block.blog-comment-edit {
	/*margin-bottom: 18px;*/
	padding-bottom: 0;
}

.feed-com-add-block.blog-comment-edit .feed-add-post-form,
.feed-com-add-block.blog-comment-edit .bxhtmled-iframe-cnt,
.feed-com-add-block.blog-comment-edit div.bx-html-editor,
.feed-com-add-block.blog-comment-edit.bxhtmled-search-cnt { background-color: transparent !important; }

.feed-com-add-block .bxhtmled-textarea-cnt .bxhtmled-textarea {
	width: calc(100% - 25px) !important;
	padding: 8px 0 0 13px !important;
	background-color: #fff !important;
}

.feed-com-add-block.blog-comment-edit .feed-add-post-form {
	margin-bottom: 0;
}

@media screen and (max-width: 1100px) {
	.feed-com-add-block {
		padding-left: 0;
	}

	.feed-com-add-block .feed-com-avatar {
		display: none;
	}

	.table.files-list td.files-del-btn,
	.table.files-list td.files-del-btn .del-but {
		width: 15px;
	}

	.table.files-list td.files-info .insert-btn, table.files-list td.files-info .insert-text {
		font-size: 11px;
	}

	table.files-list tr .files-storage span {display: block;}

	.feed-add-post-loading-wrap {width: 97%;}
}

.feed-com-add-block .feed-com-avatar {
	left: -44px;
	position: absolute;
	top: 0;
}

.feed-com-add-block .feed-add-post-edit-block {
	border-left: medium none;
	border-right: medium none;
}

.feed-com-add-block .feed-add-photo-block {
	width: 79px;
}

.feed-com-add-block .feed-add-img-error {
	height: 69px;
}

.feed-com-add-block .feed-add-post-load-img {
	background-position: 0 -185px;
	height: 48px;
	left: 32px;
	top: 17px;
	width: 54px;
}

.feed-com-add-block .feed-add-post-load-place {
	font-size: 14px;
	line-height: 20px;
	padding: 19px 0 21px 114px;
}

.feed-com-add-block .feed-add-post-load-place:hover {
	border-width: 2px;
	padding: 17px 0 19px 112px;
}

.feed-com-add-block .feed-add-post-load-place:hover .feed-add-post-load-img {
	background-position: 0 -237px;
	left: 30px;
	top: 15px;
}

a.feed-author-name-0 { display: none; }

span.feed-author-name { display: none; }

span.feed-author-name-0 { display: inline-block; }

a.feed-com-reply-N, a.feed-com-reply- { display: none; }

div.feed-com-avatar-Y { background: none; }

.feed-com-avatar.feed-com-avatar-Y img { background-color: #fff; }

.feed-com-avatar.feed-com-avatar-N img { display: none; }

.blog-comment-popup-menu input {
	box-sizing: border-box;
	padding: 0 0 0 8px;
	width: 100%;
	height: 29px;
	border: 1px solid;
	border-color: #b9bcbe #bdc1c3 #c1c5c8;
	border-radius: 2px;
	box-shadow: inset 0 1px 2px rgba(185, 185, 185, .5);
	color: #474747;
	font-size: 13px;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.feed-com-footer {
	height: 37px;
	cursor: pointer;
}

.feed-com-add {
	position: relative;
	float: left;
	width: 100%;
	height: 39px;
	/*margin-top: 11px;*/
	/*padding: 0 27px 0 72px;*/
	box-sizing: border-box;
	cursor: pointer;
}

.feed-com-loader {
	border: 1px solid #80868e;
	border-radius: 50%;
	height: 15px;
	top: 3px;
	right: -22px;
	position: absolute;
	width: 15px;
	opacity: 0.8;
}

.feed-com-loader:before,
.feed-com-loader:after {
	background-color: #80868e;
	content: '';
	left: 7px;
	position: absolute;
}

.feed-com-loader:before {
	height: 1px;
	top: 7px;
	width: 5px;
}

.feed-com-loader:after {
	height: 6px;
	top: 2px;
	width: 1px;
	-webkit-transform-origin: 0 100%;
	transform-origin: 0 100%;
}

.feed-com-block .feed-com-loader {
	display: block;
}

.feed-com-block-outer .feed-com-informers-bottom {
	padding: 0;
}

.feed-com-block-outer .feed-new-like {
	padding: 5px 13px 5px 19px;
}

.feed-com-block-outer .feed-com-informers-bottom .feed-com-reply {
	display: inline-block;
	margin: 5px 13px 0 0;
}

.feed-com-block-outer .feed-com-informers-bottom .feed-inform-ilike.feed-new-like {
	margin: 0;
}

.feed-com-block-outer .feed-com-informers-bottom a {
	margin-top: 5px;
}

.feed-com-block-outer .feed-com-informers-bottom a.bx-ilike-text,
.feed-com-block-outer .feed-com-informers-bottom .bx-ilike-button-disable .bx-ilike-right-wrap {
	margin-top: 4px;
}

.feed-com-block-outer .feed-com-informers-bottom .bx-ilike-button.bx-like-anim a.bx-ilike-text {
	margin-top: 0;
}

.feed-com-block .feed-com-loader:after {
	animation: feed-con-add-clock 1s linear infinite;
}

@-webkit-keyframes feed-con-add-clock {
	0% { -webkit-transform: rotate(0deg) }
	100% { -webkit-transform: rotate(360deg) }

	0% { transform: rotate(0deg) }
	100% { transform: rotate(360deg) }
}

@keyframes feed-con-add-clock {
	0% { transform: rotate(0deg) }
	100% { transform: rotate(360deg) }
}

.feed-com-add .feed-com-avatar {
	left: 19px;
	position: absolute;
	top: 0;
}

.feed-com-add-box-outer {
	position: relative;
	padding-top: 3px;
}

.feed-com-add-box-outer .feed-com-avatar {
	left: 17px;
	top: 4px;
	width: 37px;
	height: 37px;
}

.feed-com-add-box-outer.feed-com-add-box-outer-form-shown .feed-com-footer {
	display: none;
}

.feed-com-add-box {
	position: relative;
	box-sizing: border-box;
	margin: 0 0 40px 61px;
	min-height: 39px;
	max-width: 820px;
	border: 1px solid rgba(143, 148, 151, 0.27);
	border-radius: 22px;
}

@media (max-width: 1335px) {
	.feed-com-add-box {
		margin-right: 20px;
	}
}

@media (max-width: 1279px) {
	.feed-com-add-box {
		margin-right: 11px;
	}
}

.feed-com-add-box {
	-webkit-transition: border .3s;
	transition: border .3s;
}

.feed-com-add-box .blog-comment-field.blog-comment-field-user,
.feed-com-add-box .blog-comment-field.blog-comment-field-captcha {
	padding: 10px;
}

.feed-com-add-box:hover {
	border: 1px solid rgba(143, 148, 151, .49);
}

.feed-comments-block-editor-shown .feed-com-add-box {
	border: 1px solid rgba(198, 205, 211, .7);
}

.feed-com-add-block.feed-com-add-box.blog-comment-edit {
	margin-top: 18px;
	margin-bottom: 61px;
}

.feed-com-add-block.feed-com-add-box.blog-comment-edit.feed-com-add-box-no-form {
	margin-top: 0;
	margin-bottom: 20px;
	overflow: hidden;
}

.feed-com-add-block.blog-comment-edit.feed-com-add-box-header {
	overflow: hidden;
}

.feed-com-add-block.feed-com-add-box.blog-comment-edit.comment-deleted {
	border: none;
	margin-bottom: 25px;
}

.feed-com-add-link {
	/*border-bottom: 1px solid transparent;*/
	display: block;
	box-sizing: border-box;
	margin: 0;
	padding: 0 0 0 18px;
	width: 100%;
	height: 39px;
	color: #a8adb4;
	/*margin-top: 11px;*/
	/*line-height: normal;*/
	vertical-align: top;
	font-size: 13px;
	line-height: 37px;
}

.feed-com-add-link:hover {
	color: #a8adb4;
}

.feed-com-writers {
	float: none;
	position: absolute;
	right: 0;
	/*top: -13px;*/
	top: -10px;
	margin-top: 11px;
	margin-bottom: 11px;
}

.feed-add-post-buttons .feed-com-writers {
	line-height: inherit;
}

.feed-com-writers-wrap .feed-com-avatar {
	position: static;
	display: inline-block;
	margin-right: 4px;
	margin-top: 7px;
	width: 20px;
	height: 20px;
	vertical-align: middle;
}

.feed-com-writers-wrap .feed-com-avatar img {
	width: 20px;
	height: 20px;
}

.feed-com-writers-wrap {
	display: inline-block;
	overflow: hidden;
	max-width: 509px;
	vertical-align: top;
	white-space: nowrap;
}

@media screen and (max-width: 1550px) {
	.feed-com-writers-wrap {max-width: 369px;}
}

@media screen and (max-width: 1400px) {
	.feed-com-writers-wrap {max-width: 228px;}
}

@media screen and (max-width: 1250px) {
	.feed-com-writers-wrap {max-width: 134px;}
}

.feed-com-writers-pen {
	background: url(images/feed-comm-pen.gif) no-repeat 0 0;
	display: inline-block;
	height: 12px;
	margin: 14px 0 0 2px;
	vertical-align: top;
	width: 27px;
}

.feed-error-block {
	min-width: 200px;
	color: red;
}

.feed-error-title {
	background: url("images/sprite.png?v=1") no-repeat 0 -32px;
	padding-left: 36px;
	margin: 2px 0 0 2px;
}

.feed-comments-block.feed-comments-block-editor-shown {
	padding-bottom: 10px;
}

/*=========================== copy link ======================*/

.comment-menu-link-icon-wrap {
	position: relative;
	display: inline-block;
	margin: 0 0 0 5px;
	height: 12px;
	width: 0;
	vertical-align: middle;
	overflow: hidden;
}

.comment-menu-link-icon {
	position: absolute;
	top: 0;
	left: 0;
	display: inline-block;
	width: 11px;
	height: 10px;
	background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20viewBox%3D%220%200%2014%2012%22%3E%3Cpath%20fill%3D%22%233674C4%22%20fill-rule%3D%22evenodd%22%20d%3D%22M4.103%208.412L1.456%205.765%200%207.22l3.494%203.494.004-.004.638.638L14%201.484%2012.516%200%22/%3E%3C/svg%3E');
	background-repeat: no-repeat;
}

.comment-menu-link-icon-animate.comment-menu-link-icon-wrap {
	-webkit-animation: animate-width 0.3s cubic-bezier(0.65, 0, 0.45, 1) forwards;
	animation: animate-width 0.3s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}

@-webkit-keyframes animate-width {
	100% {
		width: 12px;
	}
}

@keyframes animate-width {
	100% {
		width: 12px;
	}
}

/*=========================== end copy link ======================*/

/*=========================== tasks patches ======================*/
.task-comments-block .feed-com-block,
.task-comments-block .feed-com-add-box {
	margin-left: 56px;
}

.task-comments-block .feed-com-add-box-outer .feed-com-avatar {
	left: 12px;
}

.task-switcher-block.task-comments-block {
	padding-top: 20px;
}

/*=========================== end tasks patches ======================*/

/*=========================== disk patches =======================*/
div[bx-mpl-block="edit-placeholder"] .feed-add-post-files-activity {
	display: none;
}

/*=========================== disk patches =======================*/

/*=========================== aux comment =======================*/
.feed-com-block.mpl-comment-aux .feed-com-main-content {
	border: 1px solid #dddfe1;
	color: #7f8690;
}

.feed-com-block.mpl-comment-aux .feed-com-main-content.feed-com-block-old,
.feed-com-block.mpl-comment-aux .feed-com-main-content.feed-com-block-read {
	background-color: #fff;
}

.feed-com-block.mpl-comment-aux .feed-time.feed-com-time {
	color: #a8aeb5;
}

.feed-com-block.mpl-comment-aux .feed-com-text {
	color: #757d87;
}

.feed-com-block.mpl-comment-aux .feed-com-name.feed-author-name,
.feed-com-block.mpl-comment-aux .feed-time.feed-com-time:hover {
	color: #525c69;
}

.feed-com-block.mpl-comment-aux .feed-com-avatar {
	display: none;
}

/*=========================== aux comment =======================*/
.feed-com-collapsed {
	position: relative;
	margin-top: -4px;
}

.feed-com-collapsed > .feed-com-loader {
	right: 15px;
}

.feed-com-collapsed > input[type=checkbox] {
	display: none;
}

.feed-com-collapsed label[data-bx-collapse-role="show"],
.feed-com-collapsed input[type=checkbox]:checked ~ label[data-bx-collapse-role="hide"] {
	display: inline-block;
}

.feed-com-collapsed input[type=checkbox]:checked ~ label[data-bx-collapse-role="show"],
.feed-com-collapsed label[data-bx-collapse-role="hide"] {
	display: none;
}

.feed-com-collapsed label[data-bx-collapse-role="hide"] {
	margin-bottom: 10px;
}

.feed-com-collapsed .feed-com-collapsed-btn {
	font-size: 13px;
	color: #a8aeb5;
	transition: color .3s;
	display: inline-block;
	margin: 0 0 12px 71px;
	line-height: 18px;
	text-decoration: none;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.feed-com-collapsed label[data-bx-collapse-role="hide"] .feed-com-collapsed-btn {
	margin-bottom: -2px;
}

.feed-com-collapsed .feed-com-collapsed-btn:hover {
	color: #3a3d42;
	line-height: 18px;
}

.feed-com-collapsed-block {
	opacity: 0;
	height: 0;
	overflow: hidden;
	transition: all .2s linear;
}

.feed-com-collapsed input[type=checkbox]:checked ~ .feed-com-collapsed-block {
	opacity: 1;
}
.feed-com-collapsed input.feed-com-collapsed-once[type=checkbox]:checked ~ .feed-com-collapsed-block {
	opacity: 1;
	height: auto;
}
.feed-com-collapsed-block-inner .feed-com-block-cover:last-child {
	margin-bottom: 0;
}
.feed-com-collapsed-block-inner{
	padding: 3px 0 10px;
}

.mpl-quote-block,
.mpl-quote-block:visited,
.mpl-quote-block:active,
.mpl-quote-block:link,
.mpl-quote-block:hover {
	display: block;
	position: absolute;
	z-index: 500;
	-webkit-transition: opacity .4s, visibility .1s linear .4s;
	-moz-transition: opacity .4s, visibility .1s linear .4s;
	-o-transition: opacity .4s, visibility .1s linear .4s;
	transition: opacity .4s, visibility .1s linear .4s;
	cursor: pointer;
	width: 32px;
	height: 27px;
	background: url("/bitrix/components/bitrix/main.post.form/templates/.default/images/sprite_mpf_5.png") no-repeat 0 -936px;
	text-decoration: none;
}

.mpl-quote-block {
	top: -1010000px;
	opacity: 0;
	visibility: hidden;
}

.mpl-quote-block:hover {
	background: url("/bitrix/components/bitrix/main.post.form/templates/.default/images/sprite_mpf_5.png") no-repeat -63px -936px;
}

.mpl-quote-block:active {
	background: url("/bitrix/components/bitrix/main.post.form/templates/.default/images/sprite_mpf_5.png") no-repeat -125px -936px;
}

.mpl-quote-block-show {
	visibility: visible;
	-webkit-transition: opacity .4s, visibility 0s;
	-moz-transition: opacity .4s, visibility 0s;
	-o-transition: opacity .4s, visibility 0s;
	transition: opacity .4s, visibility 0s;
	opacity: 1;
}


/*region DND*/
.feed-com-add-box-dnd-over {
	position: relative;
}
.feed-com-add-box-dnd-notice {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background: rgba(248,250,250,0.9);
	z-index: 1;
	border: 2px dashed #a7b0b5;
	text-align: center;
	display: none;
	border-radius: 22px;
}
.feed-com-add-box-dnd-over .feed-com-add-box-dnd-notice {
	display: block;
	z-index: 31;
}
.feed-com-add-box-dnd-notice-inner {
	min-height: 38px;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	margin: auto;
}
/*endregion*/