html {
    -webkit-text-size-adjust: none;
    padding: constant(safe-area-inset-top) constant(safe-area-inset-right) constant(safe-area-inset-bottom) constant(safe-area-inset-left);
    padding: env(safe-area-inset-top) env(safe-area-inset-right) env(safe-area-inset-bottom) env(safe-area-inset-left);
}
body {
	outline: none; -webkit-tap-highlight-color: transparent;
	background: #eef2f4 url(bundle://component/images/pattern-light-grey-v2.svg) 0 0 repeat;
}
a {color: #2067b0;text-decoration: none;-webkit-transition: border-bottom-color 0.2s linear;transition: border-bottom-color 0.2s linear;}
a:hover {color: #2067b0;text-decoration: none;}

.bx-notifier-popup-avatar {
	display: inline-block; width: 20px; height: 20px;
	vertical-align: middle; margin-right: 2px;
	background: #fff;
	border: 1px solid #ccc;
	border-radius: 50%;
	padding: 2px;
	position: relative;
}
.bx-notifier-popup-avatar-img { width: inherit; height: inherit; border: 0; border-radius: 50%; background: #fff;}
.bx-notifier-popup-avatar-img-default { background: url("bundle://component/images/sprite-v12.png") no-repeat scroll -25px 0px; background-size: 65px auto; }

.bx-messenger-panel-chat-users { display: block; vertical-align: top;  margin-top: 0;  }
.bx-messenger-panel-chat-user { cursor: pointer; display: inline-block; color: #636974;  }
.bx-messenger-panel-chat-user-name-extranet {  color:#ca7b00;   }
.bx-messenger-panel-chat-user-name-bot {  color:#7c63da;   }
.bx-messenger-panel-chat-user-name-lines {  color:#16938b;   }

.bx-messenger-content-reply {
	margin: 5px 54px !important;
}
.bx-messenger-content-reply-join {
	display: none;
}

.im-page { margin: 0; padding: 0;}
.im-page-right { background-color: #293139; }

.bx-messenger-hide { display: none!important; }

.bx-messenger-cl { border-top:1px solid #e8eaeb; border-bottom: 1px solid #e8eaeb; margin-top: 2px; height: 334px; overflow:auto; overflow-x: hidden; clear: both; }
.bx-messenger-cl-wrap { height: 64px;
	background-color: #424f5b; }
.bx-messenger-cl-item-empty { font: 13px/20px "Helvetica Neue",Helvetica,Arial,sans-serif; color: #606162; height: 21px; text-align: center; padding-top: 117px; }
.bx-messenger-cl-item-load, .bx-messenger-cl-item-search { font: 13px/20px "Helvetica Neue",Helvetica,Arial,sans-serif; color:#606162; height: 21px; text-align: center; padding-top: 190px; padding-left: 15px; }
.bx-messenger-cl-item-load:before, .bx-messenger-cl-item-search:before {
	background: url("bundle://component/images/sprite-v12.png") no-repeat scroll -45px -117px / 105px auto rgba(0, 0, 0, 0);
	background-size:105px auto;
	content:"";
	position:absolute;
	height: 26px;
	width: 26px;
	-webkit-animation: imRotate360 1.2s linear infinite; animation: 1.2s linear 0s normal none infinite running;
	margin-left: -32px;
	margin-top: -3px;
}
.bx-messenger-cl-item-search {
    margin-top: 15px;
    padding: 15px 45px;
}

.bx-messenger-cl-item {
	cursor: pointer; display: block; text-decoration: none!important; padding: 6px 4px 8px 6px;border-top: 1px solid #f7f7f7;height: 40px;border-left: 5px solid #fff; transition: border .3s;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-tap-highlight-color: transparent;
	border-radius: 5px / 3px;
}
.bx-messenger-ajax { border-bottom: 1px dashed #2067B0; cursor: pointer; color: #2067B0;}
.bx-messenger-cl-item-active {border-left-color: #a6c131;}
.bx-messenger-cl-user { vertical-align:top; display:block; font: 15px/32px "Helvetica Neue", Helvetica, Arial, sans-serif; color:#181818;overflow:hidden;text-overflow: ellipsis;white-space:nowrap;  }
.bx-messenger-cl-avatar {float: left; white-space: nowrap;display: inline-block; width: 40px; height: 40px;vertical-align: middle; margin-right: 9px; position: relative; }
.bx-messenger-cl-avatar-img {display: inline-block; width: inherit; height: inherit; border:0;border-radius: 50%; background: url("bundle://component/images/sprite-v12.png") no-repeat scroll -38px -148px / 105px auto #fff; background-size:105px auto; z-index: 9999; position: relative;}
.bx-messenger-cl-avatar-img-default { background: url("bundle://component/images/sprite-v12.png") no-repeat scroll -41px 0; background-size:105px auto; }
.bx-messenger-cl-avatar-open .bx-messenger-cl-avatar-img-default { background-position: 0 0; }
.bx-messenger-cl-avatar-chat .bx-messenger-cl-avatar-img-default { background-position: 0 0; }
.bx-messenger-cl-avatar-call .bx-messenger-cl-avatar-img-default { background-position: 0 -42px; }
.bx-messenger-cl-status-bot .bx-messenger-cl-avatar-img-default { background-position: -44px -520px!important }
.bx-messenger-cl-avatar-lines .bx-messenger-cl-avatar-img-default { background-position: -97px -797px;  background-size: 140px auto; }
.bx-messenger-cl-avatar-telegrambot .bx-messenger-cl-avatar-img-default  { background-position: -7px -753px;  background-size: 140px auto;}
.bx-messenger-cl-avatar-vkgroup .bx-messenger-cl-avatar-img-default { background-position: -9px -796px;  background-size: 140px auto; }
.bx-messenger-cl-avatar-skype .bx-messenger-cl-avatar-img-default { background-position: -57px -798px;  background-size: 140px auto; }
.bx-messenger-cl-avatar-facebook .bx-messenger-cl-avatar-img-default { background-position: -56px -753px;  background-size: 140px auto; }
.bx-messenger-cl-status-network .bx-messenger-cl-avatar-img-default,
.bx-messenger-cl-avatar-network .bx-messenger-cl-avatar-img-default { background-position: -8px -839px;  background-size: 140px auto; }
.bx-messenger-cl-avatar-livechat .bx-messenger-cl-avatar-img-default { background-position: -57px -841px;  background-size: 140px auto; }
.bx-messenger-cl-avatar-viber .bx-messenger-cl-avatar-img-default { background-position: -98px -752px;  background-size: 140px auto; }

.bx-messenger-cl-status {height: 13px; width: 13px; display:inline-block; margin-left: -10px; margin-top: 16px; vertical-align: top; background: url("bundle://component/images/sprite-v12.png") repeat scroll -2px -306px; background-size:105px auto; position: relative; z-index: 9999;}

.bx-messenger-cl-avatar-call .bx-messenger-cl-status {  display: none}
.bx-messenger-cl-avatar-open .bx-messenger-cl-status {  background-position: -77px -336px;}
.bx-messenger-cl-avatar-chat .bx-messenger-cl-status {  background-position: -62px -336px; }
.bx-messenger-cl-item-chat-general .bx-messenger-cl-status {  background-position: -48px -336px; }


.bx-messenger-cl-avatar-call .bx-messenger-cl-avatar-img-default+.bx-messenger-cl-status { display: none; }
.bx-messenger-cl-avatar-open .bx-messenger-cl-avatar-img-default+.bx-messenger-cl-status { display: none; }
.bx-messenger-cl-avatar-chat .bx-messenger-cl-avatar-img-default+.bx-messenger-cl-status { display: none; }
.bx-messenger-cl-item-chat-general .bx-messenger-cl-avatar-img-default+.bx-messenger-cl-status { display: none; }

.bx-messenger-cl-crm,
.bx-messenger-panel-avatar-crm {height: 13px; width: 24px; margin-left: -44px; margin-top: -4px!important; vertical-align: top; background: url("bundle://component/images/sprite-v12.png") no-repeat scroll -63px -322px;background-size:105px auto;  position: absolute; z-index: 9999; display: none; }
.bx-messenger-cl-crm { display:inline-block; margin-top: -2px; }

.bx-messenger-input-close { margin: 7px 0 0; float:right; padding-left: 5px;transition: opacity .2s; width: 16px; height: 17px; background: url("bundle://component/images/sprite-v12.png") no-repeat scroll -10px -146px / 105px auto rgba(0, 0, 0, 0); background-size:105px auto; text-decoration: none; opacity: 0; cursor: pointer;}
.bx-messenger-box-contact-active .bx-messenger-input-close { opacity: 1 }
.bx-messenger-chat-lines .bx-messenger-panel-avatar-crm { display:inline-block; }
.bx-messenger-cl-item-chat-lines .bx-messenger-cl-user { color: #715fc1  }
.bx-messenger-cl-item-chat-livechat .bx-messenger-cl-user { color: #715fc1  }
.bx-messenger-cl-status-bot .bx-messenger-cl-user { color: #715fc1  }
.bx-messenger-cl-status-vacation .bx-messenger-cl-user,
.bx-messenger-cl-status-offline .bx-messenger-cl-user { }
.bx-messenger-cl-status-vacation .bx-messenger-cl-avatar-img,
.bx-messenger-cl-status-offline .bx-messenger-cl-avatar { z-index: 1;}


.bx-messenger-panel-avatar-status-vacation .bx-messenger-panel-avatar-img,
.bx-messenger-panel-avatar-status-offline .bx-messenger-panel-avatar-img {  }
.bx-messenger-cl-group {
	cursor: pointer;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-tap-highlight-color: transparent;
}
.bx-messenger-cl-group-open {}
.bx-messenger-cl-group-wrapper { height: 0; opacity: .6; display: block; overflow: hidden; padding-top: 0px; white-space: nowrap; transition: opacity .4s, padding .2s  }
.bx-messenger-cl-count {
	display:inline-block; float:right; position: relative; z-index: 1;
	font: 11px/14px "Helvetica Neue", Helvetica, Arial, sans-serif;
	vertical-align: top;
	border-radius: 12px;
	background-color: #ff1919;
	background-position: 7px -83px;
	color: #fff;
	text-shadow: none;
	margin-top: 7px;
	margin-left: 3px;
	margin-right: 3px;
	-webkit-animation: imOpacityFrom05To1 .4s 1; animation: imOpacityFrom05To1 .4s 1;
}
.bx-messenger-cl-count-digit { padding: 2px 6px;display: inline-block;}

.bx-messenger-cl-group-title {
	cursor: pointer;
	color: #656667;
	font: 12px/42px "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-shadow: 0 1px 1px #fff;
	overflow:hidden;text-overflow: ellipsis;white-space:nowrap;
	vertical-align: top;
	padding: 1px 9px 0 22px;
	position:relative;
	transition: background .18s;
	background: #f7f7f7;
	margin-top: 2px;
	margin-bottom: 2px;
	display: block;
}
.bx-messenger-cl-group-title:first-child { margin-top: 0 }
.bx-messenger-cl-group-title:hover { background-color: #f0f2f3}

.bx-messenger-cl-group-title:before {
	background: url("bundle://component/images/sprite-v12.png") no-repeat scroll 0 -173px / 105px auto rgba(0, 0, 0, 0);
	background-size:105px auto;
	content:"";
	height: 11px;
	left: 8px;
	top: 16px;
	position:absolute;
	width: 9px;
}

.bx-messenger-cl-group-open .bx-messenger-cl-group-title {color: #656667;}
.bx-messenger-cl-group-open .bx-messenger-cl-group-title:before {background-position: 1px -147px;top: 14px;left: 6px;}
.bx-messenger-cl-group-open .bx-messenger-cl-group-wrapper { height: auto;	opacity: 1; }

.bx-messenger-recent-wrap {}
.bx-messenger-recent-wrap .bx-messenger-cl-item:first-child { border-top: 0}
.bx-messenger-recent-wrap .bx-messenger-cl-item {}
.bx-messenger-recent-wrap .bx-messenger-cl-avatar {background-position: 3px -658px;}
.bx-messenger-recent-wrap .bx-messenger-cl-user { line-height: 16px;  }
.bx-messenger-recent-wrap .bx-messenger-cl-user-title { overflow:hidden;text-overflow: ellipsis;white-space:nowrap; padding-top: 3px; }
.bx-messenger-recent-wrap .bx-messenger-cl-user-desc { font-size: 13px; color: #949595; overflow:hidden;text-overflow: ellipsis;white-space:nowrap;display: inline-block;line-height: 16px;padding-top: 2px;}
.bx-messenger-cl-user-reply { display: inline-block; background: url("bundle://component/images/sprite-v12.png") no-repeat scroll -22px -95px transparent; height: 19px; width: 18px; vertical-align: middle; background-size:105px auto;}
.bx-messenger-recent-wrap .bx-messenger-cl-status { margin-left: -11px; margin-top: 30px; }
.bx-messenger-recent-wrap .bx-messenger-cl-count { margin-top: 1px; }
.bx-messenger-recent-group, .bx-messenger-chatlist-group {overflow:hidden;text-overflow: ellipsis;white-space:nowrap;padding: 1px 9px 0px;vertical-align: top;background: #f7f7f7;}
.bx-messenger-recent-group-title {
	display: inline-block;font: 12px/21px "Helvetica Neue", Helvetica, Arial, sans-serif;color: #7d7d81;text-shadow: 0 1px 1px #fff;padding: 0 7px 0 5px;vertical-align: top;
}
.bx-messenger-recent-group-title:first-letter {text-transform: uppercase}

.bx-messenger-cl-status-online .bx-messenger-cl-status,
.bx-messenger-panel-avatar-status-online .bx-messenger-panel-avatar-status {display: none;}
.bx-messenger-cl-status-offline .bx-messenger-cl-status,
.bx-messenger-panel-avatar-status-offline .bx-messenger-panel-avatar-status { background-position: 0 15px; }
.bx-messenger-cl-status-birthday .bx-messenger-cl-status,
.bx-messenger-panel-avatar-status-birthday .bx-messenger-panel-avatar-status { background-position: -32px -306px; }
.bx-messenger-cl-status-dnd .bx-messenger-cl-status,
.bx-messenger-panel-avatar-status-dnd .bx-messenger-panel-avatar-status{ background-position: -2px -336px; }
.bx-messenger-cl-status-na .bx-messenger-cl-status,
.bx-messenger-panel-avatar-status-na .bx-messenger-panel-avatar-status{ background-position: -17px -336px;}
.bx-messenger-cl-status-away .bx-messenger-cl-status,
.bx-messenger-panel-avatar-status-away .bx-messenger-panel-avatar-status{ background-position: -32px -321px; }
.bx-messenger-cl-status-idle .bx-messenger-cl-status,
.bx-messenger-panel-avatar-status-idle .bx-messenger-panel-avatar-status{ background-position: -32px -336px; }
.bx-messenger-cl-status-guest .bx-messenger-cl-status,
.bx-messenger-panel-avatar-status-guest .bx-messenger-panel-avatar-status{background-position: -17px -336px;}
.bx-messenger-cl-status-mobile .bx-messenger-cl-status,
.bx-messenger-panel-avatar-status-mobile .bx-messenger-panel-avatar-status{background-position: -17px -322px;}
.bx-messenger-cl-status-vacation .bx-messenger-cl-status,
.bx-messenger-panel-avatar-status-vacation .bx-messenger-panel-avatar-status{background-position: -47px -322px; position: relative;}
.bx-messenger-cl-status-bot .bx-messenger-cl-status,
.bx-messenger-panel-avatar-status-bot .bx-messenger-panel-avatar-status{ opacity: 0; position: relative;}
.bx-messenger-cl-status-writing .bx-messenger-cl-status,
.bx-messenger-panel-avatar-status-writing .bx-messenger-panel-avatar-status {background-position: -46px -306px; display: inline-block; border-radius: 8px;}
.bx-messenger-panel-avatar-telegrambot .bx-messenger-panel-avatar-status,
.bx-messenger-cl-avatar-telegrambot .bx-messenger-cl-status { background-position: -2px -292px;  }
.bx-messenger-panel-avatar-vkgroup .bx-messenger-panel-avatar-status,
.bx-messenger-cl-avatar-vkgroup .bx-messenger-cl-status { background-position: -48px -292px;  }
.bx-messenger-panel-avatar-skype .bx-messenger-panel-avatar-status,
.bx-messenger-cl-avatar-skype .bx-messenger-cl-status { background-position: -34px -292px;  }
.bx-messenger-panel-avatar-facebook .bx-messenger-panel-avatar-status,
.bx-messenger-cl-avatar-facebook .bx-messenger-cl-status { background-position: -18px -292px;  }
.bx-messenger-panel-avatar-network-user .bx-messenger-panel-avatar-status,
.bx-messenger-cl-avatar-network-user .bx-messenger-cl-status,
.bx-messenger-panel-avatar-network .bx-messenger-panel-avatar-status,
.bx-messenger-cl-status-network-user .bx-messenger-cl-status,
.bx-messenger-cl-avatar-network .bx-messenger-cl-status { background-position: -63px -293px;  }
.bx-messenger-panel-avatar-livechat .bx-messenger-panel-avatar-status,
.bx-messenger-cl-avatar-livechat .bx-messenger-cl-status { background-position: -77px -292px;  }
.bx-messenger-panel-avatar-viber .bx-messenger-panel-avatar-status,
.bx-messenger-cl-avatar-viber .bx-messenger-cl-status { background-position: -30px -706px; }

.bx-messenger-cl-avatar-botframework_slack .bx-messenger-cl-status { background-position: -30px -719px; display: inline-block!important; }

.bx-messenger-user-extranet { color: #fe9e09 !important; background: url("bundle://component/images/sprite-v12.png") no-repeat scroll -87px -69px;padding-left: 18px;background-size:105px auto;}
.bx-messenger-user-extranet:hover { color:#ca7b00 }

.bx-messenger-cl-search { background-color: #c9c9ce;padding: 27px 7px 7px 11px; /*position: fixed;z-index: 2;width: calc(100% - 19px);top: 0px;   transform: translateZ(0px);*/}

.bx-messenger-cl-search-wrap:before {
	background: url("bundle://component/images/sprite-v12.png") no-repeat scroll -24px -266px / 105px auto;
	background-size:105px auto;
	content:"";
	height: 18px;
	left: 20px;
	position:absolute;
	width: 14px;
	margin-top: 8px;
	display: block;
	margin-left: 15px;
}
.bx-messenger-cl-search-active .bx-messenger-cl { height: 391px; }
.bx-messenger-cl-search-active .bx-messenger-cl-search { background-position: 0 -343px;}
.bx-messenger-cl-search-wrap {
	background: #fff;
	border-radius: 3px;
	overflow: hidden;
	padding: 0 10px;
	padding-left: 28px;
}
.bx-messenger-cl-search-wrap .bx-messenger-input-close {
	position: absolute;right: 14px;	background-color: #fff;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-tap-highlight-color: transparent;
	margin-top: 6px;
	margin-top: 6.5px;
}
.bx-messenger-input {
	display: block;font: 14px/30px "Helvetica Neue", Helvetica, Arial, sans-serif; height: 30px; border: 0;outline:none;width: 100%;border-radius: 6px;margin: 0;padding: 0;
	outline:none;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-tap-highlight-color: transparent;
}

/* DIALOG */

.bx-messenger-dialog-wrap { padding-bottom: 17px; overflow: hidden; }

.bx-messenger-content { margin-top: 10px; margin-bottom: 14px;}

.bx-messenger-content-group {
	background: url("bundle://component/images/sprite-v12.png") repeat-x scroll 23px -189px / 105px auto rgba(0, 0, 0, 0);
	background-size:105px auto;
	margin: 10px 0 10px 0;
	text-overflow: ellipsis;
	white-space: nowrap;
	text-align: center;
	position: relative;
	font-size: 11pt; line-height: 13pt;
}

.bx-messenger-content-item+.bx-messenger-content-group {
	margin-top: 0px;
}

.bx-messenger-content-item-ol-end+.bx-messenger-content-group {
	margin-top: -14px;
}

.bx-messenger-content-group-history {
	margin: 10px 14px 12px 57px;
}
.bx-messenger-content-group-link {
	margin-top: -17px;
	position: absolute;
}
.bx-messenger-content-group-title {
	background-color: #fff;
    color: #949595!important;
    display: inline-block;
    font: 14px/18px "Helvetica Neue", Helvetica, Arial, sans-serif;
    height: 18px;
    padding: 0 10px;
    text-shadow: 0 1px 1px #fff;
    vertical-align: top;
	text-decoration: none;
}
.bx-messenger-content-group-float .bx-messenger-content-group-title
{
	position: absolute;
	display: block;
	background-color: rgba(255, 255, 255, 0.7);
	padding: 4px 15px 5px;
	border: 1px solid #eeeff0;
	border-radius: 31px;
	margin-top: 32px;
	z-index: 10;
}
.bx-messenger-content-item {
	margin-top: -8px; padding-top: 8px; padding-bottom: 16px; transition: background-color 2s;
}
.bx-messenger-content-item-system {}
.bx-messenger-content-item-arrow {opacity: 1; transition: opacity 1.5s;  -webkit-animation: imOpacityTo1 1s 1; animation: imOpacityTo1 1s 1;
	background: url("bundle://component/images/sprite-v12.png") no-repeat scroll -22px -173px / 105px auto rgba(0, 0, 0, 0);
	margin-top: 9px;
}
.bx-messenger-content-item-plus-like { box-shadow: 0 0 6px #5298ee!important; }


.bx-messenger-content-item-avatar { display: inline-block; float: right; margin-right: -40px; margin-left: 0; vertical-align: top;  margin-top: 0px;  }
.bx-messenger-content-item-avatar-block { margin-left: -1px;
	display: inline-block; width: 25px; height: 25px;
	vertical-align: middle;  float: right;  }
.bx-messenger-content-item-avatar-img {  display: inline-block; width: 34px; height: 34px; background-color: #FFF;  border-radius: 50%;}
.bx-messenger-content-item-avatar-img-default { background: url("bundle://component/images/sprite-v12.png") no-repeat scroll -32px 0px; background-size: 85px auto; }
.bx-messenger-content-item-avatar-button { cursor: pointer }
.bx-messenger-content-item-avatar-name { display:block;
	font: 9px/12px "Helvetica Neue", Helvetica, Arial, sans-serif;
	overflow: hidden;
	text-overflow: ellipsis;
	margin: -2px -9px 0;
	margin-right: -20px;
	text-align: center;
	color: #5c5c5c;
	transition: color .3s;
	cursor: pointer;
}
.bx-messenger-content-item-arrow { width: 10px; height: 13px; display: block; margin-top: 12px; background: url("bundle://component/images/sprite-v12.png") no-repeat scroll -22px -173px / 105px auto rgba(0, 0, 0, 0); background-size:105px auto; float: left;}
.bx-messenger-content-item-status { display: none; width: 17px; height: 17px;  float: left; margin-left: -40px;  margin-top: 8px;
	position: relative;
	z-index: 100;
}
.bx-messenger-content-item-quote { display:inline-block; opacity: 0; cursor: pointer; background: url("bundle://component/images/sprite-v12.png") -55px -348px no-repeat; background-size:105px auto; width: 17px; height: 17px;  transition: opacity 0.5s;}
.bx-messenger-content-item-menu { display: inline-block;
	cursor: pointer;
	background: url("bundle://component/images/sprite-v12.png") no-repeat scroll -168px -941px;
	width: 33px; height: 17px;  transition: opacity 0.5s;
	opacity: 0;
	margin-left: -51px;
	float: left;
	background-size:105px auto;
}
.bx-messenger-content-item:hover .bx-messenger-content-item-quote { opacity: 1 }
.bx-messenger-content-item:hover .bx-messenger-content-item-menu { opacity: 0.4 }
.bx-messenger-content-item:hover .bx-messenger-content-item-menu:hover,
.bx-messenger-content-item-menu-hover { opacity: 1!important; }
.bx-messenger-content-item-progress {
	display: inline-block;
	background: url("bundle://component/images/loading.gif") no-repeat 2px 2px;
	background-size: 20px auto;
	width: 24px;
	height: 24px;
	position: relative;
	margin-left: -1px;
	border-radius: 50%;
}
.bx-messenger-content-item-progress-with-text { display:inline-block; height: 19px; width: auto; padding-left: 25px; color: #989898}
.bx-messenger-content-item-error { display: inline-block;  width: 29px; height: 29px; margin-top: -7px;
	background-color: #fcdcde;
	cursor: pointer;
	-webkit-animation: imErrorButton 10s infinite; animation: 10s ease 0s normal none infinite running;
	position: relative;
	z-index: 200;
	margin-left: -6px;
	border: 1px solid #fcc7c2;
	border-radius: 50%;
}
.bx-messenger-content-item-error-icon { display: inline-block; background: url("bundle://component/images/sprite-v12.png") no-repeat scroll 5px -203px / 105px auto transparent; background-size:105px auto; width: inherit; height: inherit; }
.bx-messenger-content-item-params { float: right;display: block; white-space: nowrap; position: relative; }
.bx-messenger-content-item-date { float: right;display:block; font: 8pt/15pt "Helvetica Neue", Helvetica, Arial, sans-serif; color: #859aa9; text-align: right; padding-top: 1px; padding-left: 2px;}
.bx-messenger-hide-like .bx-messenger-content-item-like { display: none!important; }
.bx-messenger-content-item-like {
	display: block;
	font: 8pt/15pt "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #859aa9;
	text-align: right;
	white-space: nowrap;
	position: absolute;
	margin-left: -68px;
	padding: 0 0;
	padding-left: 30px;
	padding-right: 10px;
	margin-top: 1px;
}
.bx-messenger-content-like-digit {
	font: 11pt "Helvetica Neue", Helvetica, Arial, sans-serif; color: #aeaeae;display: inline-block;-moz-user-select:none; -khtml-user-select:none; -o-user-select:none; -webkit-user-select:none; user-select:none;
	position: relative;
	cursor: pointer;
	min-width: 30px;
	text-align: center;
	margin-left: -5px;
}
.bx-messenger-content-item-like-disable .bx-messenger-content-like-button,
.bx-messenger-content-like-digit-off { cursor: default; }

.bx-messenger-content-like-button {
	background: url("bundle://component/images/sprite-v12.png") no-repeat scroll -78px -652px / 100px auto transparent;
	cursor: pointer;
	display: block;
	position: relative;
	vertical-align: top;
	line-height: 18px;
	padding-left: 19px;
	color: #c2c4c7;
	overflow: hidden;
	width: 0;
	opacity: .4;
	transition: opacity .1s, margin .1s;
	margin-bottom: -3px;
	margin-top: 0;
	height: 20px;
}

.bx-messenger-content-item-content-transparent .bx-messenger-content-item-like { top: 10px; }
.bx-messenger-content-item-content-transparent .bx-messenger-content-item-liked { top: 8px; }
.bx-messenger-content-item .bx-messenger-content-item-content.bx-messenger-content-item-content-transparent .bx-messenger-content-item-params {
	padding-top: 10px;
	padding-left: 15px;
}

.bx-messenger-content-like-digit-off .bx-messenger-content-like-button { margin-top:6px }
.bx-messenger-content-item-liked .bx-messenger-content-like-digit { color: #4ca5de; }
.bx-messenger-content-item-liked .bx-messenger-content-like-button {
	background-position: -78px -631px;
	opacity: .9;
}

.bx-messenger-content-item-2 .bx-messenger-content-item-like,
.bx-messenger-content-item-notice .bx-messenger-content-item-like {
	right: -45px;
	text-align: left;
	width: 40px;
	height: 34px;
	padding-right: 0px;
}
.bx-messenger-content-item-ol-attention .bx-messenger-content-item-content
{
	background-color: #a4c31e!important;
	border-color: #7e9617!important;
}

.bx-messenger-content-item-ol-attention .bx-messenger-content-item-text-center
{
	color: #fff!important;
}

.bx-messenger-content-item-ol-attention .bx-messenger-content-item-date {  color: #d1f7bd!important;  }

.bx-messenger-content-item-content-progress .bx-messenger-content-item-like { opacity: 0 }

.bx-messenger-content-item-text { float: left;}
.bx-messenger-history-item-text .bx-smile { vertical-align: text-bottom; }
.bx-messenger-content-item-text-center .bx-smile { vertical-align: text-bottom; }
.bx-messenger-content-item-text-wrap-append { -webkit-animation: imOpacityFrom05To1 2s 1; animation: imOpacityTo1 2s 1;  }
.bx-notifier-item-text .bx-smile { vertical-align: text-bottom; }
.bx-messenger-content-item-text-center { padding: 7px 0 8px; display: inline-block; font: 13pt/15pt "Helvetica Neue", Helvetica, Arial, sans-serif; word-wrap: break-word; width: 100%; vertical-align: middle;}
.bx-messenger-hr { font-size: 1px; border-top: 1px solid #fff; margin: 7px -2px;}
.bx-messenger-content-item-content {
	padding: 0 12px;
	display: inline-block;
	margin: 0 42px 0 48px;
	color: #1a1a1b;
	background-color: #C5E4F9;
	border: 1px solid #bad7eb;
	border-radius: 8px;
	transition: background 2s, border 2s, box-shadow .5s;
	max-width: calc(100vw - 116px);
	position: relative;
}
.bx-messenger-content-item-content-progress .bx-messenger-content-item-status { display: inline-block;}
.bx-messenger-content-item-content-progress .bx-messenger-content-item-menu { display: none; }

.bx-messenger-content-item-1 .bx-messenger-content-item-content {margin: 0 12px 0 48px;}
.bx-messenger-content-item-1 .bx-messenger-content-item-avatar-block { display: none; }
.bx-messenger-content-item-1 .bx-messenger-content-item-avatar
{
	margin-right: -25px;
}
.bx-messenger-content-item-1 .bx-messenger-content-item-arrow {
	background: none;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 6px 0 6px 10px;
	border-color: transparent transparent transparent #c1dff4;
	margin-right: 3px;
	margin-top: 11px;
	opacity: 1;
	transition: border 1s;
}
.bx-messenger-content-item-2 .bx-messenger-content-item-avatar { float: left; margin-left: -54px; text-align: left;}
.bx-messenger-content-item-2 .bx-messenger-content-item-avatar-block { margin-left: 0; margin-right: -1px; float: left;}
.bx-messenger-content-item-2 .bx-messenger-content-item-arrow {
	background: none;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 6px 10px 6px 0;
	border-color: transparent #fff transparent transparent;
	margin-left: 8px;
	margin-top: 11px;
	float: right;
	opacity: 1;
	transition: border 1s;
}
.bx-messenger-content-item-2 .bx-messenger-content-item-status { float: right; margin-left: 0; margin-right: -53px;}
.bx-messenger-content-item-2 .bx-messenger-content-item-date { color: #bac5cd; }
.bx-messenger-content-item-2 .bx-messenger-content-like-digit {}
.bx-messenger-content-item-2 .bx-messenger-hr { border-top-color: #fff;}
.bx-messenger-content-item-2 .bx-messenger-content-item-menu { float: right; margin-left: 0; margin-right: -50px; }
.bx-messenger-content-item-2 .bx-messenger-content-item-content {
	background-color: #fff;
	border: 1px solid rgba(0, 0, 0, 0.1);
	color: #1a1a1b;
}

.bx-messenger-content-item-notice .bx-messenger-content-item-text-center {color: #000; }
.bx-messenger-content-item-notice .bx-messenger-content-item-content {background: transparent; border-color: transparent; }
.bx-messenger-content-item-notice .bx-messenger-content-item-text-center {color: #717171; }
.bx-messenger-content-item-notice .bx-messenger-content-item-text-message  { font-size: 11pt; line-height: 12pt;  }
.bx-messenger-content-item-notice .bx-messenger-content-item-date  { color: #717171; }
.bx-messenger-content-item-notice .bx-messenger-content-quote-wrap { border-color: #fff; }
.bx-messenger-content-item-notice a,
.bx-messenger-content-item-notice .bx-messenger-ajax {
	color: #000;
	border-color: #000;
}

.bx-messenger-content-item-system .bx-messenger-content-item-date { color: #fff; }
.bx-messenger-content-item-system .bx-messenger-hr { border-top-color: #fff;}
.bx-messenger-content-item-system .bx-messenger-content-item-content {
	background-color: rgba(7, 5, 27, 0.32);;
	border-color: rgba(7, 5, 27, 0.1);
}
.bx-messenger-content-item-system .bx-messenger-attach-user-avatar { border: 0;}
.bx-messenger-content-item-system a,
.bx-messenger-content-item-system .bx-messenger-ajax {
	color: #fff;
	border-color: #fff;
}
.bx-messenger-content-item-system .bx-messenger-content-item-text-center {color: #fff;  }

.bx-messenger-content-item-system .bx-messenger-content-quote-wrap { color: #fff; }
.bx-messenger-content-item-system .bx-messenger-content-quote-name { color: #fff; font-weight: bold; }



.long-tap-activate  { border-color: #ccc;  background: #e0e0e0 !important; }

.bx-messenger-content-item-1 .long-tap-activate .bx-messenger-content-item-arrow  { border-color: transparent transparent transparent #e0e0e0; }
.bx-messenger-content-item-2 .long-tap-activate .bx-messenger-content-item-arrow  { border-color: transparent #e0e0e0 transparent transparent; }


.bx-messenger-content-item-ol-output .bx-messenger-content-item-date { color: #859aa9!important; }
.bx-messenger-content-item-ol-output .bx-messenger-message  {color: #1a1a1b;}
.bx-messenger-content-item-ol-output .bx-messenger-content-item-content {
	padding: 0 12px;
	display: inline-block;
	/*margin: 0 22px;*/
	color: #1a1a1b;
	background-color: #C5E4F9 !important;
	border: 1px solid #bad7eb !important;;
	border-radius: 8px;
	transition: background 2s, border 2s, box-shadow .5s;
	/*max-width: calc(100vw - 44px);*/
}
.bx-messenger-content-item-ol-output a {
	color: #2067b0 !important;
	border-color: #2067b0 !important
}



.bx-messenger-content-item-new .bx-messenger-content-item-content {background-color: #fcf7dc !important;border-color: #eadfa3 !important;}
.bx-messenger-content-item-new .bx-messenger-content-item-arrow {opacity: 0!important;}
.bx-messenger-content-item-new .bx-messenger-content-item-date { color: #bbb178; }
.bx-messenger-content-item-new .bx-messenger-content-like-button { color: #eadfa3; }

.bx-messenger-content-item-content-progress-error .bx-messenger-content-item-content {background-color: #fcdcde!important;border-color: #fcc7c2!important;}
.bx-messenger-content-item-content-progress-error .bx-messenger-content-item-arrow {opacity: 0!important;}
.bx-messenger-content-item-content-progress-error .bx-messenger-content-item-date { color: #fa6168; }
.bx-messenger-content-item-content-progress-error .bx-messenger-content-like-button { color: #fa6168; }

.bx-messenger-content-item-notify { padding-bottom: 0;}
.bx-messenger-content-item-notify .bx-messenger-content-item-content {
	background: none;box-shadow: none;padding: 0;
	margin: 0 0 0 10px;
	display: block;
	max-width: 100%;
}
.bx-messenger-content-item-notify .bx-messenger-content-item-text-center {color: #5c5c5c; font-size: 12px; padding: 4px 0 0; }
.bx-messenger-content-item-notify-icon-writing { display: inline-block; background: url("bundle://component/images/sprite-v12.png") no-repeat scroll 0 -129px / 105px auto transparent; background-size:105px auto; height: 17px; width: 21px; margin-right: 6px; vertical-align: middle;  }
.bx-messenger-content-item-notify-icon-writing:before { -webkit-animation: imWriting 1.6s linear infinite; animation: imWriting 1.6s linear infinite; background: url("bundle://component/images/sprite-v12.png") no-repeat scroll 9px -112px / 105px auto rgba(0, 0, 0, 0);background-size:105px auto;content: ''; height: 17px;position: absolute;width: 22px;margin-top: 1px;}
.bx-messenger-content-item-notify-icon-readed { display: inline-block; background: url("bundle://component/images/sprite-v12.png") no-repeat scroll -16px -86px / 105px auto transparent; background-size:105px auto; height: 9px; width: 21px; margin-right: 3px; vertical-align: middle;}

.bx-messenger-content-quote {padding: 0; display: inline-block;vertical-align: top;width: 100%;}
.bx-messenger-content-quote-wrap { border-left: 2px solid #c2c4c6; padding-left: 8px; font-size: 11pt; color: #505050;
	padding-bottom: 2px;
	padding-top: 0;
}
.bx-messenger-content-quote-name { padding-bottom: 0px; font-size: 11pt; color: #767a7e;
	padding-top: 1px;
}
.bx-messenger-content-quote-time { display: inline-block; padding-left: 5px; font-size: 10pt;}
.bx-messenger-content-quote-icon { display: none; }

.bx-messenger-message {position: relative;}
.bx-messenger-message-edited .bx-messenger-content-item-date:before {
 	background: url("bundle://component/images/sprite-v12.png") no-repeat scroll 0px -114px / 105px auto rgba(0, 0, 0, 0);
	background-size:105px auto;
    content: '';
    height: 13px;
	left: 8px;
    position: absolute;
	width: 13px;
	margin-top: 3px;
	top: 3px;
	z-index: 10;
}
.bx-messenger-content-item-content-rich-link .bx-messenger-message-edited+.bx-messenger-attach-box:before {
	left: 7px;
	margin-top: 11px;
}
.bx-messenger-message-edited .bx-messenger-content-quote:first-child {}
.bx-messenger-message-edited .bx-messenger-file-image:first-child {
	vertical-align: top;
}
.bx-messenger-file-image {
	margin: -8px -13px 6px -13px;
}
.bx-messenger-content-item-content-without-padding .bx-messenger-file-image {
	margin: -8px -13px -30px -13px;;
}
.bx-messenger-message>br+.bx-messenger-file-image{
	margin-top: 5px;
}
.bx-messenger-content-item-content-without-padding .bx-messenger-message>br+.bx-messenger-file-image{
	margin-top: 9px;
}
.bx-messenger-content-item-content-rich-link .bx-messenger-attach-box {
	margin:  -8px -13px -30px -13px;
    padding: 0;
}
.bx-messenger-content-item-content-rich-link .bx-messenger-attach {
	margin: -3px; padding: 0;
}
.bx-messenger-content-item-content-rich-link .bx-messenger-file-image-src {
	border-radius: 0;
}
.bx-messenger-attach-rich-links .bx-messenger-file-image-src {
	border: 0;
	border-radius: 10px 10px 0 0;
}

.bx-messenger-attach-rich-links .bx-messenger-file-image.bx-messenger-file-image-without-preview { max-width: 295px; }

.bx-messenger-attach-delete { display: none; }

.bx-messenger-box .bx-messenger-content-item-like { margin-right: -5px; }

.bx-messenger-file-attrs {
	padding-bottom: 25px;
}

.bx-messenger-attach-rich-link-source {
	margin-bottom: -1px;
}

.bx-messenger-message-edited .bx-messenger-content-item-date { padding-left: 23px; }
.bx-messenger-history-item .bx-messenger-message-edited { padding-left: 30px; }
.bx-messenger-message-deleted { font-style: italic; color: #7d7d7d; }
.bx-messenger-message-edited-anim { -webkit-animation: imOpacityTo1 1s 1; animation: imOpacityTo1 1s 1; }
.bx-messenger-file-deleted { color: #7d7d7d; font-style: italic;padding-left: 11px;}
.bx-messenger-file-deleted:before {
	background: url("bundle://component/images/sprite-v12.png") no-repeat scroll 0px -114px / 105px auto rgba(0, 0, 0, 0);
	background-size:105px auto;
   	content: '';
   	height: 13px;
	left: -5px;
	position: absolute;
	width: 13px;
	margin-top: 4px;
	top: 0px;
}

.bx-messenger-clear { display: block; clear: both; font-size: 1px; line-height: 1px; height: 0;}

.bx-messenger-content-load, .bx-messenger-content-empty {text-align: center; padding-top: 170px;}
.bx-messenger-content-load-img { display: inline-block; width: 29px; height: 29px; background: url("bundle://component/images/loading.gif") no-repeat scroll; background-size:29px auto; vertical-align: top; }
.bx-messenger-content-load-text { display: inline-block;  font: 15px/29px "Helvetica Neue",Helvetica,Arial,sans-serif; color:#606162;  vertical-align: top; padding-left: 15px;}
.bx-messenger-content-center { text-align: center; }
.bx-messenger-content-link { display: inline-block; margin-top: 8px; height: 17px; margin-bottom: 1px;  font: 12px/20px "Helvetica Neue",Helvetica,Arial,sans-serif!important; color: #777!important; text-decoration: none;  vertical-align: top}
.bx-messenger-content-link:hover { text-decoration: none;}
.bx-messenger-content-load-text:hover .bx-messenger-content-link { border-bottom: 1px dashed #777;}


/* FILE */
.bx-messenger-body-dialog {}
.bx-messenger-file-dropzone {display: none; position: absolute; background: rgba(105,111,120,.85); z-index: 300; overflow: hidden; transition: opacity .4s; opacity: 0; width: 608px; height: 381px; border: 1px dashed #fff; }
.bx-messenger-file-dropzone-active { opacity: 1; }
.bx-messenger-file-dropzone-wrap { display: table-cell; width: inherit; height: inherit; vertical-align: middle; }
.bx-messenger-file-dropzone-icon { background: url("bundle://component/images/sprite-v12.png") no-repeat 0 0; width: 29px; height: 39px; margin: 0 auto 11px; }
.bx-messenger-file-dropzone-text { margin: 0 auto; font: 19px "Helvetica Neue", Helvetica, Arial, sans-serif; color: #fff; text-align: center; }

.bx-messenger-textarea-file {background: url("bundle://component/images/sprite-v12.png") no-repeat scroll -146px -1101px;cursor: pointer;height: 33px;margin-left: 16px;margin-top: 9px;opacity: 0.70;position: absolute;transition: opacity 0.3s ease-in 0s;width: 33px;border: 1px solid #ccc;border-radius: 50%;}
.bx-messenger-textarea-file-form { opacity: 0; position: relative; z-index: 200; }
.bx-messenger-textarea-file:hover, .bx-messenger-textarea-file-active { opacity: 1; border-color: #53a2fb;
}
.bx-messenger-textarea-file-active .bx-messenger-textarea-file-popup { display: block; }
.bx-messenger-textarea-file-popup-input { position: absolute; width: 100%; height: 33px; cursor: pointer;}
.bx-messenger-textarea-file-popup {display: none; position: absolute;background: none repeat scroll 0 0 #fff;border: 1px solid #cbdbde;border-color: #cbdbde #ccdade #c7d6da #c9d7dc;border-radius: 3px;box-shadow: 0 19px 24px rgba(88, 112, 118, 0.17), -1px 1px rgba(255, 255, 255, 0.75) inset;z-index: 200;margin-top: -83px;margin-left: -50px;}
.bx-messenger-textarea-file-popup-arrow {background: url("bundle://component/images/sprite-v12.png") no-repeat scroll -150px -1147px;height: 15px;position: absolute;width: 30px;margin-left: 51px;}
.bx-messenger-textarea-file-light { display: none; }
.bx-messenger-textarea-file-popup .bx-messenger-popup-menu-item { z-index: 100; line-height: 26px;background: none repeat scroll 0 0 #fff !important;}


.bx-messenger-file-box { margin-bottom: -36px; min-width: inherit; min-height: 40px; }
.bx-messenger-file-box-with-message { margin-bottom: 10px; }

.bx-messenger-file { border-top: 1px solid #dee7ef;margin-top: 4px; padding-top: 4px; position:relative; }
.bx-messenger-file:first-child { border-top: 0; margin-top: 0; padding-top: 0; }
.bx-messenger-file-preview {}
.bx-bxu-proper-canvas {border-radius: 6px;}
.bx-messenger-file-image-text { max-width: 100%; max-height: 216px; background-color: #fff; border-radius: 0; }
.bx-messenger-file-title {font: bold 13px/17px "Helvetica Neue", Helvetica, Arial, sans-serif;color: #0562b1;display: inline-block;}
.bx-messenger-file-title-href {
	width: auto;
}
.bx-messenger-file-size {font: 12px/18px "Helvetica Neue", Helvetica, Arial, sans-serif;color: #777;margin-left: 7px;display: inline-block;}
.bx-messenger-file-download {margin-bottom: 5px;margin-top: -2px;}
.bx-messenger-file-download-link {font: 11px/17px "Helvetica Neue", Helvetica, Arial, sans-serif;color: #63635c;cursor: pointer;margin-right: 10px;text-decoration: none;}
.bx-messenger-file-download-link:hover { color: #63635c; }
.bx-messenger-file-download-pc {}
.bx-messenger-file-download-disk {}
.bx-messenger-file-download-block { cursor: wait; }
.bx-messenger-file-progress {height: 6px; border: 1px solid #c1c1c1;width: 212px;background-color: #fff;margin: 4px 0;display: inline-block;vertical-align: top;border-radius: 5px;overflow: hidden;}
.bx-messenger-file-progress-line {height: inherit; width: 0;background-color: #2989da;display: inline-block;vertical-align: top;transition: width 1s;}
.bx-messenger-file-progress-infinite {height: inherit; width: inherit; display: inline-block;background: url("bundle://component/images/sprite-v12.png") repeat-x scroll 0 -243px / 105px auto rgba(0, 0, 0, 0);-webkit-animation: imFileProgress .7s linear infinite; animation: imFileProgress .7s linear infinite;
	background-size: 105px;
}
.bx-messenger-file-status-error {margin-bottom: 33px; display: block;font: 11px/13px "Helvetica Neue", Helvetica, Arial, sans-serif;color: #d31919;}
.bx-messenger-file-delete { display: none; width: 16px; height: 16px; background: url("bundle://component/images/sprite-v12.png") -113px -1074px no-repeat; margin-left: 5px; cursor: pointer; }
.bx-messenger-file-user {}
.bx-messenger-file-author { display: none; }
.bx-messenger-file-date { display: none; }
.bx-messenger-file-menu { display: none; }


.bx-messenger-progress-box {margin-bottom: 30px;}

.bx-messenger-file-box-with-message .bx-messenger-file {}
.bx-messenger-content-item-2 .bx-messenger-file {border-top-color: #fff; }
.bx-messenger-content-item .bx-messenger-attach-user-name {  vertical-align: top;  padding-top: 3px;  position: relative; display: inline-block; }

.bx-messenger-cl-switcher-tab-wrap {
	overflow:hidden; text-overflow: ellipsis; white-space:nowrap;
	height: 25px; font: 12px/25px "Helvetica Neue", Helvetica, Arial, sans-serif;  color: #8e9296; margin-bottom:1px;
	border-radius: 0 2px 2px 0;
	background-color: #343f48;
	transition: background .18s;
}
.bx-messenger-input-search-call { position: absolute; display: none; right: 0; height: 30px; width: 30px; margin-left: 6px; margin-right: 11px; cursor: pointer; border-radius: 50%;  }
.bx-messenger-input-search-call-icon {
	 background: #343f48 url("bundle://component/images/sprite-v12.png") repeat scroll 1px -331px / 72px auto;
    display: block;
    height: 27px;
    width: 27px;
}
.im-page-right .bx-messenger-cl-search-with-call .bx-messenger-input-search-call { display: block; }
.im-page-right .bx-messenger-cl-search-with-call .bx-messenger-cl-search-wrap { margin-right: 44px; }
.im-page-right .bx-messenger-cl-search-with-call .bx-messenger-input-close { margin-right: 44px; }

/* RIGHT MENU */
.im-page-right .bx-messenger-cl-item-empty { color: #a9b1b8; }
.im-page-right .bx-messenger-cl-item { border-left:0; border-top-color: #3f464d;
	padding-left: 13px;
}
.im-page-right .bx-messenger-cl-item { border-left-color: #293139; background-color: #293139;border-top-color: #3f464d;
	padding-left: 13px;
}
.im-page-right .bx-messenger-cl-user { color: #fff; }
.im-page-right .bx-messenger-cl-avatar-img { background-color: #20262c;}
.im-page-right .bx-messenger-cl-status-vacation .bx-messenger-cl-user,
.im-page-right .bx-messenger-cl-status-offline .bx-messenger-cl-user {  }
.im-page-right .bx-messenger-cl-group-title {	color: #90989f; text-shadow: none; }
.im-page-right .bx-messenger-cl-group-open .bx-messenger-cl-group-title {color: #90989f;}
.im-page-right .bx-messenger-recent-wrap .bx-messenger-cl-user-desc { color: #a9b1b8; }
.im-page-right .bx-messenger-cl-search { background-color: #424f5b; }
.im-page-right .bx-messenger-cl-search-wrap, .im-page-right .bx-messenger-cl-search-wrap:before { background-color: #343f48;margin-left: 2px;background-position: -19px -534px;}
.im-page-right .bx-messenger-input { background-color: #343f48; color: #bebec4; }
.im-page-right .bx-messenger-cl-search-wrap .bx-messenger-input-close { background-color: #343f48;background-position: 6px -531px;}
.im-page-right .bx-messenger-recent-group, .im-page-right .bx-messenger-cl-group-title, .im-page-right .bx-messenger-chatlist-group { background: #20262c; border-top: 1px solid #1a1e23; border-bottom: 1px solid #1a1e23;}
.im-page-right .bx-messenger-recent-group-title, .im-page-right .bx-messenger-chatlist-group-title {color: #90989f;text-shadow: none;}
.im-page-right .bx-messenger-recent-group + .bx-messenger-cl-item { border-top-color: #293139;}
.im-page-right .bx-messenger-user-extranet { background-position: -90px -529px;}
.im-page-right .bx-messenger-cl-avatar-open .bx-messenger-cl-avatar-img-default { background-position: -42px -487px; }
.im-page-right .bx-messenger-cl-item-chat-general .bx-messenger-cl-avatar-img-default { background-position: -1px -444px; }
.im-page-right .bx-messenger-cl-avatar-chat .bx-messenger-cl-avatar-img-default { background-position: -1px -1px; }
.im-page-right .bx-messenger-cl-avatar-call .bx-messenger-cl-avatar-img-default { background-position: 0 -484px; }
.im-page-right .bx-messenger-cl-item-load {color: #a9b1b8;}
.im-page-right .bx-messenger-cl-item-active {background: #1e262b;}

.bx-messenger-cl-avatar-status-hide .bx-messenger-cl-status {display: none}

.bx-messenger-chatlist-group+.bx-messenger-chatlist-group { margin-top: 11px;}
.bx-messenger-chatlist-chat .bx-messenger-cl-user-desc { display: none; }
.bx-messenger-chatlist-chat .bx-messenger-cl-user-title { margin-top: 8px; }
.bx-messenger-chatlist-chat .bx-messenger-cl-count { margin-top: 9px; }

.bx-messenger-cl-status-bot .bx-messenger-cl-user-title,
.bx-messenger-user-bot { color:#A891FD!important; background: url("bundle://component/images/sprite-v12.png") no-repeat scroll -86px -7px;padding-left: 21px;background-size:105px auto;}

.bx-messenger-cl-status-network .bx-messenger-cl-user-title { color:#0a962f!important; background: url("bundle://component/images/sprite-v12.png") no-repeat scroll -88px -484px;padding-left: 21px;background-size:105px auto; }
.bx-messenger-cl-status-network .bx-messenger-cl-status { display: none; }
.bx-messenger-cl-item-chat-lines .bx-messenger-cl-user-title { color:#16938b!important; background: url("bundle://component/images/sprite-v12.png") no-repeat scroll -88px -507px;padding-left: 21px;background-size:105px auto;}
.bx-messenger-cl-item-chat-livechat .bx-messenger-cl-user-title { color:#16938b!important; background: url("bundle://component/images/sprite-v12.png") no-repeat scroll -88px -507px;padding-left: 21px;background-size:105px auto;}

.bx-messenger-chatlist-more-wrap {
	border-top: 1px solid #3f464d;
	padding-top: 5px;
}

.bx-messenger-chatlist-more {
	cursor: pointer;
	display: inline-block;
    font: 12px/19px "Helvetica Neue",Helvetica,Arial,sans-serif;
	border-bottom: 1px dashed #c1c3c8;
	color: #c1c3c8;
	margin-bottom: 16px;
	margin-left: 16px;
	margin-top: 8px;
	transition: all .3s;
}
.bx-messenger-chatlist-more:hover {  border-color: #535c69;  color: #535c69;  }
.bx-messenger-chatlist-show-all .bx-messenger-cl-item { display: block!important; }
.bx-messenger-chatlist-group-title {
	display: inline-block;font: 12px/21px "Helvetica Neue", Helvetica, Arial, sans-serif;color: #7d7d81;text-shadow: 0 1px 1px #fff;padding: 0 7px 0 5px;vertical-align: top;
}
.bx-messenger-chatlist-group-title:first-letter {
	text-transform: uppercase;
}
.bx-messenger-chatlist-group-add {
	display:none;
}
.bx-messenger-chatlist-empty {
	font: 13px/20px "Helvetica Neue",Helvetica,Arial,sans-serif; color: #606162; height: 21px; text-align: center;
}
.bx-messenger-chatlist-search-button-wrap { margin: 0 12px 3px; }
.bx-messenger-chatlist-group + .bx-messenger-chatlist-search-button-wrap { margin-top: 10px; }
.bx-messenger-chatlist-category + .bx-messenger-chatlist-search-button-wrap { margin-top: 5px; }
.bx-messenger-chatlist-search-button {
	background-color: #3bc8f5;
    border-color: #3bc8f5;
    border-radius: 19px;
    color: #fff !important;
    opacity: 1;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    text-decoration: none;
    z-index: 1;
	cursor: pointer;
    display: inline-block;
    font: 14px/36px "Helvetica Neue",Helvetica,Arial,sans-serif;
    transition: opacity 0.3s ease 0s;
	overflow: hidden;
}


/* PUBLIC */
.bx-messenger-textarea-open-invite-text-box { padding: 0 20px; font:14px "Helvetica Neue",Helvetica,Arial,sans-serif; }
.bx-messenger-textarea-open-invite-join, .bx-messenger-textarea-open-invite-join-box {
	position: relative;
	margin: 0 auto;
	right: initial;
	top: initial;
	margin-left: 20px;
	margin-bottom: 20px;
}
.bx-messenger-textarea-open-invite-text-box-element { height: auto;}
.bx-messenger-textarea-open-invite, .bx-messenger-textarea-general-invite, .bx-messenger-textarea-open-lines { height: auto; margin-bottom: 10px; }
.bx-messenger-loading + #im-dialog-invite { display: none; }
.bx-messenger-loading .bx-messenger-content-item-notify { display: none; }
.bx-messenger-textarea-open-invite-text { padding-top: 0; }
.bx-notifier-item-button-white { font-size: 14px; line-height: 26px; background: rgba(0,0,0,.4); color: #fff; }
.bx-messenger-content-load-more-history {
	text-align: center;
	margin-top: 10px;
}
#im-dialog-invite .bx-notifier-item-button { margin-right: 10px; margin-bottom: 10px; font-size: 14px !important; padding: 5px 15px; max-width: none;}

#im-dialog-invite.bx-messenger-chat-imol-skip-block .bx-messenger-textarea-open-invite-skip.bx-notifier-item-button.bx-notifier-item-button-confirm.bx-notifier-item-button-cancel {display: none;}

.bx-messenger-keyboard { margin: 3px 30px 0 38px; }
.bx-messenger-keyboard-button-text { padding: 10px 10px; font-size: 14px; max-width: 225px;   }
.bx-messenger-keyboard-button-line { margin-right: 6px; }

.bx-messenger-dialog-wrap .bx-notifier-content-link-history { text-align: center; display: block;  margin-top: 14px; }
.bx-messenger-dialog-wrap .bx-notifier-item-button { font-size: 14px !important; padding: 5px 20px; }

.im-page.bx-desktop-appearance, .im-page.bx-messenger-box { background: #c0c1c5; background-size: cover; }
.im-page .bx-messenger-box-contact { background-color: rgba(255, 255, 255, 0.88); border-right: 0 }
.im-page .bx-messenger-box-dialog { background-color: rgba(255, 255, 255, 0.38); }
.im-page .bx-messenger-box-extra { background-color: rgba(255, 255, 255, 0.38); }
.im-page .bx-messenger-content-load,
.im-page .bx-messenger-content-empty {   padding-top: 5px;  margin: 15px; margin-top: 130px; border-radius: 4px; padding-bottom:5px; }
.im-page .bx-notifier-content-load{  padding-top: 10px!important; padding-bottom: 8px; margin: 15px; margin-top: 162px; border-radius: 4px; }
.im-page .bx-notifier-content-empty {  background-color: rgba(255, 255, 255, 0.79);  border-radius: 4px; margin: 15px; padding-bottom: 40px; }
.im-page .bx-messenger-box-hello {  background-color: rgba(255, 255, 255, 0.79);  border-radius: 4px;  color: #9c9fa0;  }
.im-page .bx-notifier-answer-input,
.im-page .bx-notifier-answer-button {  background-color: rgba(255, 255, 255, 0.79);  }
.im-page .bx-notifier-content-load-block-img { border-radius: 50%; }
.im-page .bx-messenger-content-load-text {  color: #5c5c5c; }
.im-page .bx-messenger-panel { background-color: transparent; }
.im-page .bx-messenger-textarea-place { background-color: transparent; }
.im-page .bx-messenger-textarea { background-color: transparent; border-top-color: transparent }
.im-page .bx-messenger-content-item-content { opacity: .90; }
.im-page .bx-messenger-content-item-notify .bx-messenger-content-item-content { border: 0!important; }
.im-page .bx-messenger-panel {  background-color: rgba(255, 255, 255, 0.7);  margin: 0;  padding: 0 15px 0 11px; border-bottom-color: transparent }
.im-page .bx-messenger-textarea-place {  background-color: rgba(255, 255, 255, 0.7);  margin: 0;  padding: 0 15px 0 11px;  }
.im-page .bx-messenger-content-item:hover .bx-messenger-content-item-menu { opacity: 0.8 }
.im-page .bx-messenger-content-item:hover .bx-messenger-content-item-reply { opacity: 0.8 }
.im-page .bx-messenger-hr { border-color: transparent; }
.im-page .bx-messenger-content-group { background: none; }
.im-page .bx-messenger-content-group-title { background-color: rgba(7, 5, 27, 0.32); border-radius: 15px; line-height: 25px; height: 27px; border: 1px solid rgba(7, 5, 27, 0.1); text-shadow: none; color: #fff!important; }
.im-page .bx-messenger-textarea-send { margin-right: 5px; }
.im-page .bx-messenger-editform-wrap { background-color: rgba(255, 255, 255, 0.9); }
.im-page .bx-messenger-editform-show .bx-messenger-editform-wrap { top: 0; opacity: 1; -webkit-animation: imOpacityTo1 .4s 1; animation: imOpacityTo1 .4s 1;  }
.im-page .bx-messenger-editform-hide .bx-messenger-editform-wrap { top: 0; opacity: 0; -webkit-animation: imOpacityTo0 .3s 1; animation: imOpacityTo0 .3s 1;  }
.im-page .bx-messenger-editform-textarea { background-color: rgba(255, 255, 255, 0.9);  }
.im-page .bx-messenger-editform-textarea-input { background-color: transparent; }

.im-page .bx-messenger-content-group-float .bx-messenger-content-group-title { border: 0; padding: 4px 10px 4px; }
.im-page .bx-messenger-cl-search-wrap .bx-messenger-input { width: 86% }
.im-page .bx-messenger-cl-search .bx-messenger-input-close { background-color: transparent; }
.im-page .bx-messenger-box-create .bx-messenger-panel-wrap { border-bottom-color: transparent; }
.im-page .bx-messenger-box-create-desc { background-color: rgba(255, 255, 255, 0.8); margin: 10px 20px; height: calc(100% - 20px); width: calc(100% - 40px); border-radius: 5px; }
.im-page .bx-messenger-panel-create-input { background: rgba(255, 255, 255, 0.75); }
.im-page .bx-notifier-item-wrap { background-color: rgba(255, 255, 255, 0.6); }
.im-page .bx-notifier-item-new { background-color: rgba(255, 234, 136, 0.4); }
.im-page .bx-notifier-item-text { color: #515151; }
.im-page .bx-notifier-item-date { color: #919090; }
.im-page .bx-messenger-textarea-open-invite,
.im-page .bx-messenger-textarea-general-invite,
.im-page .bx-messenger-textarea-open-lines { box-sizing: border-box; margin-left: 10px; margin-right: 10px; padding-left: 10px; padding-right: 10px; padding-top:15px; background-color: rgba(255,255,255,.7); border-radius: 10px; width: calc(100% - 20px);}

.im-page.bx-desktop-appearance .bx-messenger-box { background: transparent; }
.im-page .bx-desktop-appearance-menu { background-color: rgba(255, 255, 255, 0.75); border-right: 1px solid transparent }
.im-page .bx-desktop-appearance-content { background-color: transparent; }
.im-page .bx-desktop-tab-content { background-color: rgba(255, 255, 255, 0.9); }
.im-page .bx-desktop-tab-content-im { background-color: transparent; }
.im-page .bx-desktop-tab-content-disk .header { background:rgba(255,255,255,.5); border-bottom: 0; box-shadow: none; }
.im-page .bx-desktop-tab-content-disk .beda_message,
.im-page .bx-desktop-tab-content-disk .empty_history,
.im-page .bx-desktop-tab-content-disk .download_history { background-color: rgba(255, 255, 255, 0.9); box-shadow: none; }
.im-page .bx-desktop-appearance .bx-messenger-box-contact { background-color: rgba(255, 255, 255, 0.88); }
.im-page .bx-messenger-textarea-open-invite-join,
.im-page .bx-messenger-textarea-open-invite-join-box { right: 10px; }



/* FROM CACHE */
.im-page-from-cache .bx-messenger-cl-count { opacity: 0; }
.im-page-from-cache .bx-messenger-cl-status,
.im-page-from-cache .bx-messenger-panel-avatar-status{background-position: -17px -336px;}

/* ANIMATION */
@-webkit-keyframes imWriting {
	0% { background-position: 4px -113px; }
	20% { background-position: 7px -113px; -webkit-transform:rotate(-20deg);transform:rotate(-20deg); }
	35% { background-position: 7px -113px; -webkit-transform:rotate(0deg);transform:rotate(0deg); }
	50% { background-position: 5px -113px; -webkit-transform:rotate(-30deg);transform:rotate(-30deg); }
	65% { background-position: 7px -113px; -webkit-transform:rotate(0deg);transform:rotate(0deg); }
	80% { background-position: 10px -113px; }
	100% { background-position: 4px -113px; }
}
@keyframes imWriting {
	0% { background-position: 4px -113px; }
	20% { background-position: 7px -113px; -moz-transform:rotate(-20deg);transform:rotate(-20deg); }
	35% { background-position: 7px -113px; -moz-transform:rotate(0deg);transform:rotate(0deg); }
	50% { background-position: 5px -113px; -moz-transform:rotate(-30deg);transform:rotate(-30deg); }
	65% { background-position: 7px -113px; -moz-transform:rotate(0deg);transform:rotate(0deg); }
	80% { background-position: 10px -113px; }
	100% { background-position: 4px -113px; }
}
@-webkit-keyframes imFileProgress { 0% { background-position: 0 -243px; } 100% { background-position: 10px -243px; }}
@keyframes imFileProgress { 0% { background-position: 0 -243px; } 100% { background-position: 10px -243px; }}
@-webkit-keyframes imOpacityFrom05To1 { from { opacity: 0.5; } to { opacity: 1; } }
@keyframes imOpacityFrom05To1 { from { opacity: 0.5; } to { opacity: 1; } }
@-webkit-keyframes imErrorButton {0% { box-shadow: 0 1px 2px #858689; }40% { box-shadow: 0 1px 2px #858689;}50% { box-shadow: 0 1px 8px #858689;}60% { box-shadow: 0 1px 2px #858689;  }100% { box-shadow: 0 1px 2px #858689;  }}
@keyframes imErrorButton {0% { box-shadow: 0 1px 1px #858689; }40% { box-shadow: 0 1px 1px #858689;}50% { box-shadow: 0 1px 8px #858689;}60% { box-shadow: 0 1px 1px #858689;  }100% { box-shadow: 0 1px 1px #858689;  }}
@-webkit-keyframes imAvatarUpload {0% {-moz-transform:rotate(0deg);transform:rotate(0deg);}100% {	-moz-transform:rotate(360deg);transform:rotate(360deg);}}
@keyframes imAvatarUpload {0% {-moz-transform:rotate(0deg);transform:rotate(0deg);}100% {	-moz-transform:rotate(360deg);transform:rotate(360deg);}}
@-webkit-keyframes imEditAnimationClose {0% { opacity: 1; top: 0; }50% { opacity: 1;  }75% { opacity: 0; }100% { opacity: 0; top: -71px; }}
@keyframes imEditAnimationClose {0% { opacity: 1; top: 0; }50% { opacity: 1; }75% { opacity: 0;  }100% { opacity: 0; top: -71px; }}
@-webkit-keyframes imRotate360 {0% {-webkit-transform:rotate(0deg);transform:rotate(0deg);}100% {	-webkit-transform:rotate(360deg);transform:rotate(360deg);}}
@keyframes imRotate360 {0% {-moz-transform:rotate(0deg);transform:rotate(0deg);}100% {	-moz-transform:rotate(360deg);transform:rotate(360deg);}}

/* Media Query */
@media (max-width: 320px) {
	.bx-messenger-content-item-avatar-img {width: 25px; height: 25px;}
	.bx-messenger-content-item-arrow { margin-top: 9px; }
	.bx-messenger-content-item-text-center {font-size: 15px; line-height: 17px;}
	.bx-messenger-content-item-content { margin: 0 38px;}
	.bx-messenger-content-item-avatar {margin-right: -42px; margin-top: 4px;}
	.bx-messenger-content-item-2 .bx-messenger-content-item-avatar {margin-left: -44px;}
	.bx-messenger-content-item-avatar-name { margin: -2px -9px 0; }
	.bx-messenger-content-item-avatar-img-default { background-position: -25px 0px; background-size: 65px auto; }
}

.bx-messenger-audioplayer-container {
	min-width: 220px;
	margin-right: 32px;
	min-height: 48px;
}