.task-detail-page .workarea-content-paddings{
	padding: 0;
}

.task-detail {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.task-detail-info {
	background-color: #fff;
	margin: 0 0 20px 0;
}

.template-bitrix24 .task-detail-info {
	margin: 0;
}

.task-info-panel-important {
	float: right;
	line-height: 30px;
}

.task-info-panel-important span {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	font-size: 13px;
	color: rgba(0, 0, 0, 1);
	padding: 0 20px;
	opacity: .9;
}

.task-info-panel-important:hover span {
	opacity: 1 !important;
}

.task-info-panel-important span:after {
	content: '';
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	background: url(/bitrix/js/tasks/css/images/media.png) no-repeat 0 -122px;
	width: 12px;
	height: 16px;
}

.task-info-panel-important.no span {
	opacity: .7;
	color: gray;
}

.task-info-panel-important.no span:after {
	background-position: 0 -102px;
}

.task-info-panel-important.mutable span {
	cursor: pointer;
}

.task-info-panel-important .if-no {
	display: none;
}

.task-info-panel-important.no .if-no {
	display: inline-block;
}

.task-info-panel-important.no .if-not-no {
	display: none;
}

.task-detail-header {
	padding: 11px 13px 12px 20px;
	border-bottom: 1px solid #e9eaec;
}

.task-detail-header-title {
	color: #000;
	font: 22px/24px "OpenSans-Regular", "Helvetica Neue", Helvetica, Arial, sans-serif;
	padding-right: 10px;
	word-wrap: break-word;
}

.task-detail-subtitle-status {
	font: 300 15px/24px "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #525c69;
	vertical-align: middle;
}

.task-detail-subtitle-status-delay-message {
	color: #f93000;
	font-weight: normal;
}

.task-detail-content {
	position: relative;
	padding: 2px 23px 0;
	color: #535c69;
	font: 14px/22px "Helvetica Neue", Helvetica, Arial, sans-serif;
	overflow: hidden;
}

.task-detail-content > div:last-child {
	border-bottom: none;
}

.task-detail-author-info {
	display: none;
}

.task-detail-favorite {
	cursor: pointer;
	position: absolute;
	width: 0;
	height: 0;
	border: 46px solid transparent;
	border-right: none;
	top: -30px;
	right: -7px;
	transition: all .2s linear;
	z-index: 1;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
	background: transparent;
	opacity: .5;
}

.task-detail-favorite:hover {
	border-left: 46px solid #e3eaed;
	background: #e3eaed;
	opacity: 1;
}

.task-detail-favorite-active,
.task-detail-favorite-active:hover {
	border-left: 46px solid #f9a800;
	background: #f9a800;
}

.task-detail-favorite-star {
	position: relative;
	display: block;
	width: 0;
	height: 0;
	border-right: 8px solid transparent;
	border-top: 6px solid #7e8690;
	border-left: 8px solid transparent;
	top: -2px;
	left: -37px;
	margin: auto;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}

.task-detail-favorite-star:before {
	position: absolute;
	display: block;
	top: -6px;
	left: -8px;
	width: 0;
	height: 0;
	border-right: 8px solid transparent;
	border-top: 6px solid #7e8690;
	border-left: 8px solid transparent;
	-webkit-transform: rotate(-71deg);
	-moz-transform: rotate(-71deg);
	-ms-transform: rotate(-71deg);
	-o-transform: rotate(-71deg);
	transform: rotate(-71deg);
	content: '';
	z-index: 4;
}

.task-detail-favorite-star:after {
	position: absolute;
	display: block;
	top: -6px;
	left: -8px;
	width: 0;
	height: 0;
	border-right: 8px solid transparent;
	border-top: 6px solid #7e8690;
	border-left: 8px solid transparent;
	-webkit-transform: rotate(71deg);
	-moz-transform: rotate(71deg);
	-ms-transform: rotate(71deg);
	-o-transform: rotate(71deg);
	transform: rotate(71deg);
	content: "";
}

.task-detail-favorite-active .task-detail-favorite-star,
.task-detail-favorite-active .task-detail-favorite-star:before,
.task-detail-favorite-active .task-detail-favorite-star:after {
	border-top: 6px solid #fff;
}

.task-detail-description,
.task-detail-checklist,
.task-detail-files,
.task-detail-extra,
.task-detail-properties {
	padding: 15px 0;
	border-bottom: 1px solid rgba(234, 235, 237, .78);
}

.task-detail-description {
	word-wrap: break-word;
	padding-bottom: 30px;
	min-height: 80px;
	overflow-x: auto;
}

.task-detail-description-only {
	border-bottom: none;
}

.task-detail-content .task-checklist-field-edit .task-checklist-field-inner {
	max-width: 455px;
}

.task-detail-content input.task-checklist-field-add {
	max-width: 100%;
	box-sizing: border-box;
}

.task-detail-files {
	/*margin-bottom: 15px;*/
	padding-top: 20px;
}

.task-detail-title {
	display: inline-block;
	color: #535c69;
	font-size: 14px;
	font-weight: bold;
	line-height: 18px;
	margin: 0 8px 0 0;
	padding: 0;
}

.task-detail-checkstatus {
	font-size: 13px;
	color: rgba(83, 92, 105, .7);
	font-weight: normal;
}

.task-detail-subtitle {
	position: relative;
	color: rgba(83, 92, 105, .6);
	font-weight: bold;
	font-size: 9px;
	text-transform: uppercase;
	margin: 15px 5px 5px;
}

.task-detail-subtitle span {
	cursor: pointer;
}

.task-detail-resolved .task-detail-subtitle span:before {
	content: '';
	height: 0;
	border: 3px solid transparent;
	border-left-color: #c6cacf;
	border-right: none;
	display: inline-block;
	vertical-align: middle;
	margin: -2px 0 0 2px;
	width: 4px;
}

.task-detail-resolved-open .task-detail-subtitle span:before {
	content: '';
	width: 0;
	height: 0;
	border: 3px solid transparent;
	border-top: 3px solid #c6cacf;
	border-bottom: none;
	display: inline-block;
	vertical-align: middle;
	margin: -3px 3px 0 0;
}

.task-detail-resolved .task-detail-field {
	display: none;
}

.task-detail-resolved-open .task-detail-field {
	display: block;
}

.task-detail-field {
	position: relative;
	margin-bottom: 1px;
	overflow: hidden;
}

input.task-detail-field-add {
	border: 1px solid #c6cdd3;
	outline: none;
	line-height: 28px;
	color: #535c69;
	font-size: 14px;
	padding: 0 6px;
	width: 298px;
	margin: 10px 15px 5px 25px;
	float: left;
	height: 28px;
	border-radius: 2px;
	top: auto;
}

.task-dashed-link {
	display: inline-block;
	vertical-align: middle;
	line-height: 19px;
	font-size: 13px;
	color: #1f67b0;
	cursor: pointer;
}

.task-detail-field-add + .task-dashed-link {
	line-height: 30px;
	margin: 10px 0 5px;
	overflow: hidden;
	display: block;
}

.task-dashed-link-inner {
	font-size: 13px;
	border-bottom: 1px dashed rgba(31, 103, 176, .5);
	cursor: pointer;
}

.task-dashed-link .task-dashed-link-inner:hover {
	border-bottom: 1px dashed rgba(31, 103, 176, 1);
}

.task-detail-label {
	display: inline-block;
	font-size: 14px;
	color: #535c69;
	vertical-align: middle;
	line-height: 18px;
}

.task-field-checkbox + .task-detail-label {
	overflow: hidden;
	display: block;
}

.task-field-checkbox:checked + .task-detail-label {
	text-decoration: line-through;
}

.task-detail-content-main .task-dashed-link {
	padding-left: 30px;
	margin-bottom: 20px;
	text-decoration: underline;
}

.task-detail-img {
	display: inline-block;
	vertical-align: top;
	width: 75px;
	height: 75px;
	border: 1px solid #eeeeed;
	background: #fff;
	overflow: hidden;
}

.task-detail-file {
	display: inline-block;
	overflow: visible;
}

.task-detail-file-name {
	color: #2067b0;
	cursor: pointer;
	font-weight: bold;
	border-bottom: 1px solid transparent;
	transition: border-bottom-color .2s linear;
}

.task-detail-file-name:hover {
	border-bottom: 1px solid;
}

.task-detail-file-size {
	color: #7e838c;
	font-size: 12px;
	font-weight: normal;
	margin: 0 0 0 4px;
	vertical-align: middle;
}

.task-detail-file-more {
	border-bottom: 1px solid transparent;
	display: inline-block;
	color: #999;
	cursor: pointer;
	font-size: 11px;
	margin-right: 19px;
	position: relative;
}

.task-detail-file-more:after {
	content: '';
	position: absolute;
	border: 3px solid transparent;
	border-top-color: #a3a6ab;
	border-bottom: none;
	width: 0;
	height: 0;
	top: 0;
	bottom: 0;
	margin: auto auto auto 4px;
	opacity: .7;
}

.task-detail-file-more:hover {
	text-decoration: underline;
}

.task-detail-file-more:hover:after {
	opacity: 1;
}

.task-detail-extra {
	/*padding-top: 15px;*/
	overflow: hidden;
	/*border-top: 1px solid #e7e6d6;*/
}

.task-detail-extra-right {
	float: right;
	display: flex;
	align-items: center;
}

.task-detail-extra .feed-post-emoji-top-panel-outer {
	float: right;
	clear: right;
}

.task-detail-extra .feed-post-emoji-top-panel-box.feed-post-emoji-top-panel-container-active {
	padding-top: 0;
	padding-left: 7px;
	margin-left: 0;
}

.task-detail-group {
}

.task-detail-group-label {
	vertical-align: middle;
	margin-right: 5px;
}

.task-detail-group-loader {
	display: none;
	vertical-align: middle;
}

.mode-loading .task-detail-group-loader {
	display: inline-block;
}

.mode-loading .task-dashed-link {
	display: none;
}

.task-group-field {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	margin: 0;
}

.group-item-set-empty-false .task-dashed-link {
	display: none;
}

.task-group-field-inner {
	position: relative;
	padding-right: 24px;
}

.task-group-field-label {
	display: inline-block;
	font-size: 14px;
	vertical-align: middle;
	line-height: 18px;
	color: #2067b0;
	border-bottom: 1px solid transparent;
	transition: border-bottom-color .2s linear;
}

.task-group-field-label:hover {
	border-bottom: 1px solid;
}

.task-group-field-title-del {
	width: 20px;
	cursor: pointer;
	height: 16px;
	display: none;
	position: absolute;
	top: 2px;
	right: 0;
	opacity: 0.5;
}

.task-group-field:hover .task-group-field-title-del {
	display: block;
}

.task-group-field-title-del:hover {
	opacity: 1;
}

.task-group-field-title-del:before {
	content: '';
	background: url(/bitrix/js/tasks/css/images/media.png) no-repeat 0 -14px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	width: 13px;
	height: 12px;
}

.task-group-field:hover .task-group-field-title-del {
	display: inline-block;
}

.task-detail-group-link {
	border-bottom: 1px solid transparent;
	transition: border-bottom-color .2s linear;
}

.task-detail-group-link:hover {
	border-bottom: 1px solid;
}

.task-detail-supertask-label,
.task-detail-supertask-name {
	display: inline-block;
	vertical-align: middle;
	margin-right: 5px;
}

.task-detail-supertask {
	margin-top: 5px;
}

.task-detail-properties-layout a:hover {
	border-bottom: 1px solid;
}

.task-detail-property-name {
	text-align: left;
}

.task-detail-like {
/*	float: right;
	height: 27px;*/
}

.task-detail-like .feed-inform-ilike a {
	border-bottom: 1px solid transparent;
	color: #A8AEB5;
	text-decoration: none;
	transition: color .3s;
}

.task-detail-like .feed-inform-ilike .bx-you-like-button a {
	color: #0b66c3;
}

.task-detail-like .feed-inform-ilike a:hover {
	color: #3A3D42;
	text-decoration: none;
}

.task-detail-like .feed-inform-ilike.feed-new-like {
	margin-right: 0;
}

.task-detail-like .ilike-light .bx-ilike-right {
	background-position: 0 8px;
	font-size: 13px;
	padding-left: 14px !important;
}

.task-detail-like .ilike-light .bx-you-like .bx-ilike-right {
	background-position: 0 8px;
	font-size: 13px;
	padding-left: 14px !important;
}

.task-detail-like a {
	text-decoration: none;
	font-size: 13px;
	line-height: 14px;
}

.task-detail-like .bx-ilike-left-wrap {
	line-height: 24px;
}

.task-detail-contentview {
	padding-left: 10px;
}

.task-detail-buttons {
	padding: 13px 15px 15px;
	text-align: left;
	border-top: 1px solid #eef2f4;
	background: #fff;
	line-height: 50px;
}

.task-button-edit-link {
	color: #393939;
	font-size: 14px;
}

.template-bitrix24 .task-detail-buttons {
	border-bottom: 15px solid #eef2f4;
}

.webform-button-link,
.webform-button-link:hover {
	color: #5e636b;
}

.webform-small-button-transparent .webform-small-button-text {
	display: inline-block;
	position: relative;
	vertical-align: middle;
}

.webform-small-button-transparent .webform-small-button-text:after {
	content: '';
	width: 0;
	height: 0;
	display: inline-block;
	vertical-align: middle;
	margin-left: 7px;
	border: 3px solid transparent;
	border-top: 3px solid;
}

.task-detail-list {
	background: #fff;
	padding: 20px;
	overflow-x: auto;
}

.template-bitrix24 .task-detail-list {
	border-bottom: 15px solid #eef2f4;
	margin-bottom: 0;
}

.task-detail-list-title {
	color: #535c69;
	font-size: 14px;
	font-weight: bold;
	margin: 0 0 20px;
}

.template-bitrix24 .task-detail-comments {
	background: #eef2f4;
}

.task-detail-sidebar-content {
	background: #fff;
	padding: 0 16px 16px;
	color: #535c69;
	font: 13px "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.task-detail-sidebar-status {
	background: #56d1e0;
	padding: 7px 15px 8px;
	position: relative;
	margin: 0 -16px;
	min-height: 32px;
}

.task-detail-sidebar-status-content {
	position: absolute;
	background: #56d1e0;
	left: 0;
	right: 0;
	top: 50%;
	padding: 0 15px;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	font-weight: bold;
	color: #fff;
}

.task-detail-sidebar-status-date {
	font-weight: normal;
	white-space: nowrap;
}

.task-detail-sidebar-item {
	padding: 15px 0 17px;
	border-bottom: 1px solid #eef2f4;
	overflow: hidden;
}

.task-detail-sidebar-item-title {
	font-size: 13px;
	color: #858c96;
	width: 98px;
	float: left;
	word-wrap: break-word;
}

.task-detail-sidebar-item-value {
	color: #000;
	margin-left: 100px;
	padding-left: 5px;
}

.task-detail-sidebar-item-value span {
	border-bottom: 1px dashed;
	cursor: pointer;
	display: inline-block;
}

.task-detail-sidebar-item-readonly span {
	border: none;
	cursor: text;
}

.task-detail-sidebar-item-value .task-detail-sidebar-item-mark-plus,
.task-detail-sidebar-item-value .task-detail-sidebar-item-mark-p {
	color: #15c945;
}

.task-detail-sidebar-item-value .task-detail-sidebar-item-mark-minus,
.task-detail-sidebar-item-value .task-detail-sidebar-item-mark-n {
	color: #ff4200;
}

.task-detail-sidebar-item-value .task-detail-sidebar-item-value-del {
	width: 16px;
	height: 12px;
	background: url(/bitrix/js/tasks/css/images/media.png) no-repeat 5px -410px;
	border-bottom: none;
	vertical-align: middle;
	display: none;
	opacity: .3;
}

.task-detail-sidebar-item-value-del:hover {
	opacity: .7;
}

.task-detail-sidebar-item-deadline .task-detail-sidebar-item-value:hover .task-detail-sidebar-item-value-del {
	display: inline-block;
}

.task-detail-sidebar-item-deadline .task-detail-sidebar-item-value span {
	font-weight: bold;
}

.task-detail-sidebar-item-delay {
	padding: 8px 0 0;
	border-top: 1px solid #eef2f4;
	margin: 15px auto -7px;
}

.task-detail-sidebar-item-delay-message {
	font-size: 13px;
	font-weight: bold;
	line-height: 20px;
	color: #f73100;
	padding: 5px 8px;
	background: #ffe5e0;
}

.task-detail-sidebar-item-delay-message-icon {
	position: relative;
	display: inline-block;
	vertical-align: middle;
	border: 8px solid transparent;
	border-bottom: 15px solid #f73100;
	border-top: none;
	margin-top: -2px;
}

.task-detail-sidebar-item-delay-message-icon:before {
	content: '';
	position: absolute;
	top: 0;
	left: -10px;
	width: 16px;
	height: 15px;
	border-radius: 50%;
	border: 2px solid #ffe5e0;
}

.task-detail-sidebar-item-delay-message-icon:after {
	content: '';
	position: absolute;
	top: 6px;
	left: -1px;
	right: 0;
	margin: auto;
	width: 2px;
	height: 4px;
	background: #fff;
	box-shadow: 0 2px 0 0 #f73100, 0 3px 0 #fff;
	opacity: 0.9;
}

.task-detail-sidebar-item-delay-message-text {
	display: inline-block;
	vertical-align: middle;
}

.task-detail-sidebar-item-reminder .task-detail-sidebar-item-value:before {
	content: '';
	width: 10px;
	height: 12px;
	background: url(/bitrix/js/tasks/css/images/media.png) no-repeat 0 -38px;
	display: inline-block;
	vertical-align: middle;
	margin-right: 5px;
}

.task-detail-sidebar-info-title {
	margin-top: 15px;
	color: #525c69;
	border-bottom: 1px solid #edeef0;
}

.task-detail-sidebar-info-title-line {
	border-bottom: 1px solid #f0f1f2;
}

.task-detail-sidebar-info {
	padding: 10px 0;
	line-height: 18px;
	word-wrap: break-word;
}

.task-detail-sidebar-info a:hover {
	border-bottom: 1px solid;
}

.task-detail-sidebar-info-tag {
	font-size: 14px;
	color: #5e6676;
}

.task-detail-sidebar-info-tag .task-tags-line {
	display: block;
}

.task-tags-line {
	word-wrap: break-word;
	word-break: break-all;
}

.task-detail-sidebar-info-link {
	font-size: 12px;
	color: #8d949c;
	float: right;
	line-height: 34px;
	cursor: pointer;
}

.task-detail-sidebar-content .webform-small-button {
	display: block;
	margin: 13px auto 0;
	width: 185px;
	text-align: center;
}

.task-detail-sidebar-info-users-list {
	margin-top: 4px;
}

.task-detail-sidebar-info-users-list .task-detail-sidebar-info-user {
	background: none;
}

.task-detail-sidebar-info-users-list .task-dashed-link {
	font-size: 12px;
	color: #8d949c;
	margin-left: 12px;
}

.task-detail-sidebar-info-users-list .task-dashed-link-inner {
	border-bottom: 1px dashed rgba(141, 148, 156, .5);
}

.task-detail-sidebar-info-users-list .task-dashed-link-inner:hover {
	border-bottom: 1px dashed rgba(141, 148, 156, 1);
}

.task-detail-sidebar-info-user-more {
	font-size: 14px;
	font-weight: bold;
	color: #535c69;
	line-height: 39px;
	text-align: center;
	width: 39px;
	height: 39px;
	border-radius: 50%;
	background: #eef2f4;
	float: left;
	margin: 15px 10px 0 0;
}

.task-detail-sidebar-info.template-source {
	margin-top: 20px;
}

.task-comments-log-switcher {
	margin: 0;
	white-space: nowrap;
	position: relative;
	bottom: -1px;
}

.template-bitrix24 .task-comments-log-switcher {
	bottom: 0;
}

.task-switcher {
	display: inline-block;
	cursor: pointer;
	margin: 0;
	border-bottom: none;
}

.task-switcher-selected {
	cursor: default;
}

.template-bitrix24 .task-switcher-selected {
	border: none;
}

.task-switcher-text {
	display: inline-block;
	padding: 3px 12px;
	font: normal 12px/33px "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #5e6675;
	font-size: 14px;
	line-height: 30px;
	height: 30px;
	background: #e0e5e9;
	border-radius: 3px 3px 0 0;
	transition: all 220ms linear;
	position: relative;
	border: 1px solid transparent;
}

.task-switcher-text:hover,
.task-switcher-selected .task-switcher-text {
	color: #5c6470;
	background: #fff;
	border: 1px solid #eef2f4;
	border-bottom: 1px solid #fff;
}

.template-bitrix24 .task-switcher-text:hover,
.template-bitrix24 .task-switcher-selected .task-switcher-text {
	border: 1px solid transparent;
	border-bottom: 1px solid #fff;
}

.template-bitrix24 .task-switcher-text:hover {
	background: #fff;
}


.task-switcher-text-counter {
	background: #d2d7dc;
	border-radius: 8px;
	height: 16px;
	vertical-align: middle;
	display: inline-block;
	color: #535c69;
	font: normal 11px/16px "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-align: center;
	padding: 0 7px;
	box-sizing: border-box;
	min-width: 20px;
	transition: all 220ms linear;
}

.task-switcher-text:hover .task-switcher-text-counter,
.task-switcher-selected .task-switcher-text-counter {
	background-color: #ebf1f4;
}

.task-detail-properties {
	/*border-top: 1px solid #e7e6d6;*/
	/*margin: 20px 0 0;*/
	padding-top: 20px;
}

.task-detail-property-name {
	text-align: right;
	vertical-align: top;
	padding: 0 10px 9px 0;
	color: #535c69;
	font-size: 14px;
	font-weight: bold;
	width: 30%;
}

.task-detail-property-value {
	vertical-align: top;
	padding: 0 0 9px;
	width: 70%;
}

.task-detail-property-value div.fields {
	margin-bottom: 1px;
}

.task-detail-property-value .separator {
	border: none;
	margin: 0;
	width: auto;
}

.task-detail-property-value .separator:before {
	content: ', ';
}

.task-detail-property-image {
	border: 1px solid #eee;
	border-radius: 1px;
	box-shadow: 0 0 1px #eee, inset 0 0 1px #eee;
	display: inline-block;
	margin: 0 8px 8px 0;
	padding: 3px;
}

.task-comments-and-log .feed-comments-block {
	margin: 0;
}

.task-comments-and-log .feed-com-corner {
	display: none;
}

.task-switcher-block {
	display: none;
	margin: 0;
	background: #fff;
	padding: 11px;
}

.task-switcher-block-selected {
	display: block;
	border: 1px solid #eef2f4;
}

.template-bitrix24 .task-switcher-block-selected {
	border: none;
}

.task-files-block {
	padding: 15px;
}

.task-time-table th {
	background-color: #e5e5e5;
	text-align: left;
	padding: 5px 11px;
}

.task-log-date-column,
.task-log-author-column,
.task-log-where-column,
.task-log-what-column,
.task-time-date-column,
.task-time-author-column,
.task-time-spent-column,
.task-time-comment-column {
	font-size: 13px;
	vertical-align: top;
	border-bottom: 1px solid #edeef0;
	padding: 13px 7px;
	word-wrap: break-word;
}

.task-time-table tr:last-child td,
.task-log-table tr:last-child td,
.task-time-add-link-row td {
	border: none;
}

th.task-log-date-column,
th.task-log-author-column,
th.task-log-where-column,
th.task-log-what-column,
th.task-time-date-column,
th.task-time-author-column,
th.task-time-spent-column,
th.task-time-comment-column {
	vertical-align: middle;
	height: 39px;
	padding: 0 7px;
	background: #f0f5f6;
	color: rgba(94, 102, 117, .8);
	border: none;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	text-align: left;
}

.task-log-table, .task-time-table {
	min-width: 100%;
	table-layout: fixed;
	color: #333;
	border-collapse: collapse;
}

.task-log-date-column {
	width: 16%;
}

.task-log-author-column {
	width: 24%;
}

.task-log-where-column {
	width: 20%;
}

.task-log-what-column {
	width: 40%;
}

.task-time-date-column {
	width: 13%;
}

.task-time-author-column {
	width: 24%;
}

.task-time-spent-column {
	width: 20%;
}

.task-time-comment-column {
	width: 43%;
}

.task-log-what, .task-time-comment {
	color: rgba(94, 102, 117, .8);
}

.task-log-arrow, .task-time-arrow {
	color: #000;
	font-size: 14px;
	margin: 0 .5em;
}

.task-time-table-manually .task-time-table-note-img {
	background: url(/bitrix/js/tasks/css/images/media.png) no-repeat 0 -141px;
	width: 16px;
	height: 16px;
	display: inline-block;
	vertical-align: middle;
}

.task-time-table-unknown .task-time-table-note-img {
	background: url(/bitrix/js/tasks/css/images/media.png) no-repeat 0 -160px;
	width: 16px;
	height: 16px;
	display: inline-block;
	vertical-align: middle;
}

.task-table-edit,
.task-table-remove,
.task-table-edit-ok,
.task-table-edit-remove {
	height: 12px;
	width: 14px;
	opacity: .5;
	cursor: pointer;
	background: url(/bitrix/js/tasks/css/images/media.png) no-repeat;
	display: none;
}

.task-table-edit {
	background-position: 0 0;
}

.task-table-remove {
	background-position: 4px -14px;
}

.task-table-edit:hover,
.task-table-remove:hover,
.task-table-edit-ok:hover,
.task-table-edit-remove:hover {
	opacity: 1;
}

.task-time-table-remove:hover .task-table-remove,
.task-time-table-edit:hover .task-table-edit {
	display: inline-block;
}

.task-table-edit-ok {
	display: inline-block;
	background-position: 0 -25px;
}

.task-table-edit-remove {
	display: inline-block;
	background-position: 4px -14px;
}

.task-log-author-column .task-log-author:hover,
.task-time-author-column .task-log-author:hover {
	border-bottom: 1px solid;
	text-decoration: none;
}

.task-log-author-text {
	display: none;
}

.task-time-table-public .task-log-author-text {
	display: inline;
}

.task-time-table-public .task-log-author {
	display: none;
}

.task-log-table .task-log-what a:hover {
	border-bottom: 1px solid;
	text-decoration: none;
}

.task-log-date, .task-time-date {
	color: #999;
}

.task-log-date {
	word-wrap: normal;
}

.task-log-arrow,
.task-time-arrow {
	font-size: 14px;
	margin: 0 .5em;
}

.task-time-comment-container {
	position: relative;
	margin-right: 40px;
}

.task-time-comment-action {
	display: block;
	height: 12px;
	top: 3px;
	margin: auto;
	right: -43px;
	position: absolute;
}

.task-time-form-row .task-time-comment-action {
	top: 6px;
}

.task-time-field-container {
	margin: 0 15px 0 -15px;
}

.task-time-field-textbox {
	height: 28px;
	line-height: 28px;
	padding: 0 5px;
	border: 1px solid #c6cdd3;
	font-size: 13px;
	color: #000;
}

.task-time-date-column input {
	width: 100%;
}

.task-time-spent-column input {
	width: 15px;
}

.task-time-comment-column input {
	width: 100%;
	box-sizing: border-box;
}

.task-time-spent-hours {
	white-space: nowrap;
}

.task-time-spent-minutes {
	white-space: nowrap;
}

.task-message-label {
	font-size: 14px;
	color: #5e6675;
	background: #ebf5b5;
	line-height: 17px;
	padding: 11px 15px;
	position: relative;
	margin-bottom: 10px;
}

.task-options-field-warning,
.task-message-label.error {
	background: #fee7e7;
}

.task-options-field-warning:before,
.task-message-label.error:before {
	content: '';
	width: 16px;
	height: 16px;
	background: url(/bitrix/js/tasks/css/images/media.png) no-repeat 0 -232px;
	float: left;
	margin-right: 10px;
	margin-top: 2px;
}

.task-detail-checklist {
	padding-bottom: 15px;
}

.task-iframe-get-link-btn{
	color: #7f8792;
	font: normal 13px/17px "Helvetica Neue", Helvetica, Arial, sans-serif;
	border-bottom: 1px dashed;
	vertical-align: middle;
	padding-bottom: 2px;
	transition: all 300ms linear;
	line-height: 23px;
}

.task-iframe-get-link-btn:hover{
	cursor: pointer;
	color: #525c69;
}

table.data-table td {
	border: 1px solid #efefef !important;
}

/*=========================== main.post.list patches ======================*/
.task-comments-block .feed-com-block,
.task-comments-block .feed-com-add-box {
	margin-left: 56px;
}

.task-comments-block .feed-com-add-box-outer .feed-com-avatar {
	left: 12px;
}

.task-switcher-block.task-comments-block {
	padding-top: 20px;
	padding-right: 24px;
}
/*=========================== main.post.list patches ======================*/

.task-footer-wrap {
	visibility: collapse;
}

.task-footer-wrap.task-footer-wrap-active {
	visibility: visible;
}